[2021-04-15 04:21] Goobercute opened #867 "Hi, have u ever thought about software test roadmap or QA roadmap？"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [x] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-04-16 20:35] sbashett opened #868 "ZeroMQ can be included in the backend roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-04-20 18:49] gampu opened #869 "Add server frameworks for backend roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [x] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-04-26 18:23] Kucing121 opened #873 "#hasbiallah"

[2021-04-27 00:13] Rabbit907903 opened #874 "Bad"

[2021-04-27 01:26] RodrigoAB93 commented on #874
@Rabbit907903  please discribe the issue.

[2021-04-27 11:49] PuneetGopinath commented on #773
Good, I too have much experience about being a mobile developer
I used termux on android as terminal at that time, see also #384

[2021-04-28 07:52] roadnou opened #876 "+7 913 249-89-40"

[2021-04-28 07:53] roadnou commented on #876
Пидр ты

[2021-04-29 17:03] VasileDurlesteanu commented on #766
Thank you for the contribution! The Web Developer Map is very helpful!

[2021-05-02 17:36] MartinZikmund opened #877 "Add WebAssembly platforms"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-05-02 18:41] octisfall opened #878 "Use Miro"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [x] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-05-03 09:46] abbasyousafzai commented on #878
That's a fantastic idea. @octisfall why don't you start a miro board. @kamranahmedse Happy to help.

[2021-05-04 23:38] Lynicis opened #879 "Turkish Tranlastion"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [x] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-05-05 10:35] TomasMatusek commented on #869
Dont forget to Spring framewrok :)

[2021-05-05 15:50] #879 closed

[2021-05-06 21:17] martjanz commented on #667
Still there. No other typo as far as I've seen.

[2021-05-07 08:25] AlexNicolasCode opened #881 "Translate docs to Portuguese"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-05-09 06:14] maverick-galloway commented on #879
Ok I keep getting emails from you but I havent done anything with you guys
it was my girlfriend who used my info and your guys tools to ruin my life
her and cody beauchamp have ruined my life and all I did was help them
out.  So I'm very grateful for your tools ruining a single dad with 2 kids
life but hey everyone meant well I'm sure.

On Tue, May 4, 2021, 7:42 PM İsmail Emre Sırmalı ***@***.***>

[2021-05-09 06:45] pecampelo commented on #881
I can commit to doing this. I am going to fork it and in a week's time, it shall be done.

[2021-05-09 20:22] #881 closed

[2021-05-11 02:56] dylanesque opened #882 "React Roadmap: Add react-query to API Calls"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] React Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

[2021-05-13 02:04] ossecusalcantara opened #883 "Roadmap"

[2021-05-24 02:18] inetshell commented on #667
The typo is still there.

[2021-05-24 04:36] praveeno commented on #667
hello, should i raise another PR specific for this
https://github.com/kamranahmedse/developer-roadmap/pull/716/commits

[2021-05-31 15:09] alesaudate opened #887 "Kubernetes on Backend roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [X] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [X] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-06-10 16:23] dragontheory opened #888 "Web Components as an alternative to frameworks"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [x] Changing in arrangement
- [x] General suggestion
- [x] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-06-10 18:32] HasanMothaffar opened #889 "A new suggestion for JavaScript resources (Frontend Developer resources)"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-06-13 20:15] JonasRafael16 opened #890 "Map Interactive"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

Hello.
It would be v

[2021-06-16 10:44] cliffbdf opened #891 "Java should be in list of programming languages"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [] Backend Roadmap
- [X] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [X] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowled

[2021-06-16 10:47] cliffbdf opened #892 "Addition of BDD as a core practice"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [X] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [X] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-06-16 13:36] kolja-lucht opened #893 "Provide vector-based image files"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-06-16 15:13] edu-tomasi commented on #891
I think so it isn't necessary, because the roadmap have a disclaimer about the differents programming languages.
The focus of programming skills is to add some knowladge to make a automation easiest.

Maybe this point is foolish, it's my first time contributing in a discussion.

[2021-06-16 15:16] cliffbdf commented on #891
It is a wonderfully constructed roadmap, by the way.

Very best,

Cliff Berg

[2021-06-21 21:18] ridhwaans opened #894 "Roadmap just for ruby on rails"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknow

[2021-06-24 00:32] Robertroid opened #895 "Add Date topic to Introduction"
#### What roadmap is this issue about?

- [x] Introduction
- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#

[2021-06-26 06:12] Foo-x opened #896 "Some item labels are not centered"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [x] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-06-26 06:35] Foo-x opened #897 "Link to contribution docs in ISSUE_TEMPLATE is broken"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [x] Something else

#### Please acknowle

[2021-07-05 06:40] SeshuTechie opened #899 "Cloud and Microservices need to be added on Backend"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [X] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [X] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [X] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-07-08 06:18] Sridhar-rajendran commented on #891
I think all already recovered this issues.

[2021-07-21 07:00] #867 closed

[2021-07-30 01:55] geneciSI opened #900 "developer roadmap"

[2021-08-02 19:41] yusufadell commented on #900
SUS!

[2021-08-07 13:23] PrynsTag opened #903 "Optimize All Images"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [x] Something else

#### Please acknowle

[2021-08-15 08:15] Haidang25 opened #907 "Jss"

[2021-08-15 08:16] #907 closed

[2021-08-15 08:28] Haidang25 opened #908 "Hd"

[2021-08-15 11:50] #908 closed

[2021-08-15 20:30] Sridhar-rajendran commented on #908
Hi..

[2021-08-16 20:50] seadog007 opened #910 "Addition of Infrastructure Provisioning Tool - Foreman"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [x] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-08-18 20:18] Aanchal116 opened #911 "Make the Navbar Stick to the top"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [x] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-08-24 06:44] lakkeger opened #912 "DevOps should get DB knowledge too"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [x] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-08-28 06:05] Chidalu567 opened #913 "Data structure and Algorithm importance"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-08-31 23:23] OussamaHoua opened #914 "Thanks"
...

[2021-09-03 06:17] Sridhar-rajendran commented on #773
Surely..

[2021-09-03 07:24] harked commented on #773
is this still ongoing?

[2021-09-05 14:31] ngwakzen opened #915 "I need help with coding"
Hello sir

[2021-09-05 14:56] dejiblaq commented on #915
Hi

On Sun, Sep 5, 2021, 3:37 PM ngwakzen ***@***.***> wrote:

[2021-09-06 08:09] rahul-10-byte commented on #911
Please assign this issue to me...I can complete this task.

[2021-09-07 11:05] plxel commented on #878
Hi, I draw one for frontend
![image](https://user-images.githubusercontent.com/1496959/132334516-0d6d271e-1096-4519-b0e9-9e91a535921c.png)

Where should I place it?

[2021-09-09 13:14] Ivan-Kito opened #916 "For me"

[2021-09-10 09:43] kamranahmedse commented on #913
It's there [in the introduction](https://github.com/kamranahmedse/developer-roadmap#introduction)

[2021-09-10 09:43] #913 closed

[2021-09-12 09:18] gilbecao opened #917 "Spanish translation typos"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [x] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [x] Something else

#### Please acknowle

[2021-09-16 10:22] Yash-Chandrani commented on #878
Hi can I work on this ?

[2021-09-16 16:56] Sridhar-rajendran commented on #878
Sure.

6383244901

On Thu, Sep 16, 2021, 16:02 Yash-Chandrani ***@***.***> wrote:

[2021-09-17 15:16] rajmadhu0406 commented on #878
Hey can I also work on this?

[2021-09-18 03:32] gionchat opened #918 "Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万 Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营"
Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万
Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营

[2021-09-20 11:30] EKanadily opened #919 "Need beginner / mid / adbanced tagging"
#### What roadmap is this issue about?
- [ ] All Roadmaps

#### What is this issue about?
- [ ] General suggestion

#### Enter the details about the issue here
the roadmap is very good. practically a beginner will need to know the priority: what to study first and what next. because obviously some things in the list is very advanced /niche . than you

[2021-09-20 18:03] Phantomcurse opened #920 "gg"

[2021-09-20 20:29] Robel-shewan opened #921 "nothing"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-10-02 15:51] guptaritik2002 opened #922 "Web roadmap"

[2021-10-02 23:25] andre-feitosa opened #923 "Dev roadmap"

[2021-10-02 23:26] #923 closed

[2021-10-13 04:50] Omolajacodec opened #925 "Blockchain Developer Roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-10-22 19:25] mohdule opened #928 "Adding Fiber to GO roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] Go Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [x] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

###

[2021-10-28 21:02] nick-fotopoulos opened #929 "I love this roadmap and want to contribute, but..."
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ X ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ X ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please ackn

[2021-10-29 23:26] joaomoschetta opened #930 "[Suggestion] Add transparency to images background"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [X] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [X] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-11-03 13:40] pawelmalak commented on #869
+1 for adding frameworks. Here's a simple mockup of what it could look like:

![frameworks](https://user-images.githubusercontent.com/24780509/140070597-dbedf941-6465-48df-9f72-451b203d3fda.png)

[2021-11-03 15:22] gampu commented on #869
Looks nice. But I don't think this repo is maintained regularly. I see a lot of issues and pull requests left ignored. Maybe you can try making a pull request against this issue. All the best!!!.

[2021-11-08 04:07] Stanr1eyFontenelle opened #931 "Web developer RoadMap 2020"

[2021-11-11 04:47] NguyenNamUET opened #932 "About your gorgeous beautiful image"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [x] Something else

#### Please acknowle

[2021-11-12 22:17] gridlocdev commented on #932
Source: https://github.com/kamranahmedse/developer-roadmap/blob/master/CONTRIBUTING.md#how-are-these-roadmaps-made

[2021-11-19 14:10] #932 closed

[2021-11-22 00:48] GoodnessEzeh commented on #897
I guess that has been fixed. I was able to navigate through the links just now.

[2021-11-24 18:27] #897 closed

[2021-11-28 13:12] ayoub3bidi opened #933 "Is there gonna be a Vue.js roadmap ?"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

#### Please acknowle

[2021-12-02 17:30] kamranahmedse commented on #911
Thank you for suggesting the change but there have been some changes to the design and this isn't the final version that you see on the website.

[2021-12-02 17:30] #911 closed

[2021-12-03 01:17] jazz-it commented on #773
Although #584 states it has been fixed, I cound't find "the push".

[2021-12-03 13:20] #903 closed

[2021-12-07 04:19] TawalMc opened #937 "Add may be Blitz.js for React Roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2021-12-07 04:22] TawalMc commented on #937
.

[2021-12-07 12:17] Hironate opened #938 "New Request : Blockchain Road Map"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [x] Sharing an Idea
- [ ]

[2021-12-07 12:25] Mr-Second commented on #938
已收到(自动回复，不要回答！不要回答！不要回答！)

[2021-12-08 01:56] susanwati101 commented on #900
yes? me here

[2021-12-09 03:48] WANGLULU9802 opened #944 "这他喵也太多了，学不完呀"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2021-12-09 03:58] hjslovehr opened #945 "Why not C#?"

[2021-12-09 10:41] #944 closed

[2021-12-09 17:47] #945 closed

[2021-12-10 14:13] lorenzo-piersante opened #952 ""Migration Strategies" duplicated on Backend Roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [X] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [X] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2021-12-12 11:45] workpebojot opened #960 "Roadmap for C#/.NET 6"
As we all know, C#/.NET has been open source for about 5 years now.. I would like to see the roadmap. Most basically which open source libraries, tools etc. are recommended

[2021-12-16 08:56] miguelgrubin opened #962 "[Suggestion] Add FastAPI on Python Roadmap as async web framework"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [X] Python Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [X] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sh

[2021-12-18 23:33] vanilla-unicorn opened #966 "FE Roadmap Bug"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [x] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2021-12-19 05:32] oliviermap commented on #966
j

[2021-12-20 10:34] kamranahmedse commented on #966
@vanilla-unicorn can you please share the browser information and the iOS version? It seems to be working fine for me.

[2021-12-20 10:45] vanilla-unicorn commented on #966
Sure thing,

Brave Browse, Version 1.32.3 (21.11.17.19)
iOS Version 14.8 (18H17)

[2021-12-21 05:14] vagrant2046 opened #967 "Has the previous translation page about this project been removed?"

[2021-12-21 10:38] kamranahmedse commented on #967
All of the [translations can be found here](https://github.com/kamranahmedse/developer-roadmap/tree/0471d44c8fae58b6a36a7c57bba12253916d0249/translations). We are working on incorporating them onto the website though.

[2021-12-21 10:38] #967 closed

[2021-12-22 00:53] iqlal opened #969 "WHAT'S LIBRARY / TOOLS USED TO CREATE A BEAUTIFUL ROADMAP ???"
WHAT'S LIBRARY / TOOLS USED TO CREATE A BEAUTIFUL ROADMAP ???

[2021-12-22 13:19] #869 closed

[2021-12-22 16:23] ajitzero opened #970 "Angular Roadmap: Add Content Projection & ng-container"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
  - [x] Angular Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ]

[2021-12-22 20:00] fishuke opened #971 "FE Roadmap WindiCss"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2021-12-23 05:25] tfpgh commented on #962
Second this, just about to open. FastAPI is gaining popularity incredibly quickly and currently far surpasses any other async framework on the roadmap on every [Stack Overflow 2021 Developer Survey metric](https://insights.stackoverflow.com/survey/2021).

[2021-12-23 13:20] nkzren opened #972 "[Suggestion] Add SLF4J to Java roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps
- [x] Java Roadmap

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Shar

[2021-12-24 02:57] rizalandyyy commented on #969
visio

[2021-12-24 08:57] iqlal commented on #969
Thanks

[2021-12-30 04:51] ramenatorr opened #976 "Including UI/UX design in front end roadmap"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-01-05 03:34] iqlal commented on #969
I dont think so

[2022-01-05 05:28] melvnl commented on #969
I think the author utilizes something from chakra UI (I have zero experience in this component library),  but if you go to this [page](https://github.com/kamranahmedse/developer-roadmap/blob/master/pages/%5Broadmap%5D/%5Bgroup%5D.tsx). The component/container that renders the roadmap chart is coming from the chakra UI component library (Box, Breadcrumb, BreadcrumbItem, BreadcrumbLink, Button, Cont

[2022-01-07 17:47] jhonywalkeer opened #983 "Add Typescript roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps
- [X] Add Roadmap

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [X] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Shari

[2022-01-08 10:29] iqlal commented on #969
Thats for your info, just wait @kamranahmedse for official answer 😊

[2022-01-09 07:57] kamranahmedse opened #985 "[Help Wanted] Add Content to Roadmaps"
As you might have noticed that starting from [frontend](https://roadmap.sh/frontend) and [backend](https://roadmap.sh/backend) roadmaps we have made the roadmaps interactive. Next, we need your help in adding content to the roadmaps.

## How to add Content

All you have to do is follow the steps below:

- Visit the [frontend](https://roadmap.sh/frontend) or [backend](https://roadmap.sh/backend) ro

[2022-01-09 08:09] kamranahmedse commented on #966
That's strange, it seems to be working fine for me (at least on Brave version 1.33). Could you try again maybe?

![IMG_3849E8312051-1](https://user-images.githubusercontent.com/4921183/148674435-13e7a14b-7c0e-4ac8-825c-2021d1666cf0.jpeg)

[2022-01-09 08:14] vanilla-unicorn commented on #966
That's bizarre. I just checked and made sure my auto-update has my Brave at 1.33 now (which it does), but I'm still getting an error only on the frontend roadmap. Other roadmaps show up fine.

[2022-01-09 08:17] vanilla-unicorn commented on #966
Confirmed the error shows for both regular and private viewing modes as well.

[2022-01-09 18:29] anshulyadav01 commented on #985
Hello @kamranahmedse 🤝. I was long waiting to add a resource in the frontend roadmap section. I watched a number of videos out there and found one that was the most🎯 fitting as well as appropriate and I would like to contribute onto that. Also, a watchable resource sometimes works even better than readable ones(**"Sometimes"**)😊. I would like to work on this issue and also want to contribute in fu

[2022-01-10 06:13] kamranahmedse commented on #969
Hey @iqlal yes it's Chakra UI for the website and [Balsamiq](https://balsamiq.com/) for the roadmpas

[2022-01-10 06:13] #969 closed

[2022-01-10 06:19] iqlal commented on #969
I see, thanks

[2022-01-11 21:24] karanssh commented on #985
I just checked out the roadmaps, and they look awesome! to start off, I've opened a PR adding some info to the Go roadmap. Please consider taking a look, thank you! https://github.com/kamranahmedse/developer-roadmap/pull/993 .

[2022-01-12 08:45] kamranahmedse commented on #971
Thank you for opening the issue. We don't want to convolute the roadmap by mentioning every available option and are just focusing on what is the most relevant item that you would pick today and the mentioned item doesn't conform to that.

This has also been [mentioned in the contribution docs](https://github.com/kamranahmedse/developer-roadmap/tree/master/contributing#guidelines).
Thank you for y

[2022-01-12 08:45] #971 closed

[2022-01-14 06:59] vanilla-unicorn commented on #966
I assume you’re busy on other issues since this isn’t reproducible. You can go ahead and close this issue if that’s the case.

[2022-01-17 13:56] Choose-br commented on #985
Hi. Is there a free tool to edit the roadmaps or we have to edit the jsons files to do it?

[2022-01-18 12:07] kamranahmedse commented on #985
@Choose-br you don't need to edit the JSON files, I have listed the steps in the issue description to add the content.

[2022-01-19 07:22] HaithamLeo opened #1015 "[Enhancement] Header pages links colors"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [x] Functionality of the website
- [x] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-01-19 08:01] HaithamLeo commented on #1015
Hey @kamranahmedse I already opened PR for this issue #1016 ...I hope you get the chance to review it.

[2022-01-21 18:16] sanchox opened #1023 "C roadmap and Embedded roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-01-22 16:04] manishshanker opened #1040 "Add Helm in the DevOps Roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [x] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-01-23 19:19] Aryan09121 opened #1046 "Asking for guidance by roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [✓ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ]

[2022-01-24 01:09] NomarGomez commented on #985
I will try to help on the Frontend Roadmap :)

[2022-01-24 17:43] ibandim123 opened #1050 "Sharing an Idea: Robotic/ IA roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps
- [x] New Roadmap

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [x] Shari

[2022-01-24 21:53] jlalfonso21 opened #1051 "Add Rustlang roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-01-25 04:31] xpwmaosldk opened #1058 "Flutter is best mobile framework"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [x] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-01-25 13:00] ungaratto93 opened #1061 "Add Kotlin language on backend roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-01-25 13:02] ungaratto93 commented on #985
Hey everyone
How the content is selected to put on site ?

[2022-01-28 11:44] IKatsuba opened #1073 "Angular CLI and Building Angular libraries"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-01-28 12:13] semsion commented on #893
Yes I'm sure the old backend roadmap was a vector image.

The React and Frontend roadmaps do not appear to be as such, and are printing out in a very pixelated manner.

[2022-01-29 00:03] NomarGomez commented on #985
Hello @kamranahmedse I have a question for contribute to Add content, you guys have a guideline on the git flow (Naming branches, commits, commits messages), I ask because I would like to do it the correct way.

[2022-01-29 10:02] suryavamsi6 opened #1076 "Redundant links to the official Relay Modern website"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [x] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [x] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-01-29 12:10] angrox opened #1079 "Missing overall topic in DevOps: Security"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [X] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [X] Discussion for a pull request I would want to open.
- [X] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-01-29 12:48] #1076 closed

[2022-01-29 15:03] LeandroLins29 opened #1080 "developer roadmap"
Mapa de roteiro de um desenvolvedor.

[2022-01-29 15:15] #1080 closed

[2022-01-30 13:58] #933 closed

[2022-01-30 17:15] ibandim123 commented on #1050
![ROadMap Image](https://user-images.githubusercontent.com/59544620/151709819-63942c8f-c99b-4b5e-8c47-a0624d0332bd.png)

[2022-02-01 06:54] kamranahmedse commented on #1058
Hey, thanks for opening the issue. These roadmaps are opinionated and your recommendations might not align with the author. Also, GitHub stars are not a good measure of usage. React native is definitely more in demand as compared to Flutter. Open any job board and compare the job openings for Flutter and React native, you will see the difference.

[2022-02-01 06:54] #1058 closed

[2022-02-03 21:07] HalcyonAura opened #1101 "Broken Link to CSS Resource in Frontend and Backend Roadmaps"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [x] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-02-04 06:19] #1101 closed

[2022-02-05 21:58] marcosfreitas opened #1114 "Change color for completed items for a better visualization and prod of ourselves"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [x] Sharing an Idea
- [ ] S

[2022-02-06 04:13] Steindvart commented on #1114
# My opinion
Hi! This looks cool, I agree with you. And I will add one more reason - we don't have different within `done` and `I wouldn't recommend` nodes.

### For example:
![image](https://user-images.githubusercontent.com/53004350/152667209-9cc03d54-11ce-4f68-a31f-16417af80d18.png)

## Style
The style of the `done` element, I think, would be better if:
- Color: `#70cc2f`
- Text: without `line-

[2022-02-06 04:44] Steindvart opened #1115 "Add node about "URL""
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [x] Backend Roadmap

#### What is this issue about?

- [ ] Functionality of the website
- [x] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [x] Sharing an Idea
- [ ] Something else

#### Please acknowledge t

[2022-02-06 04:53] Steindvart commented on #1046
Hi, @Aryan09121! But isn't the roadmap itself a guidance? Please, specify what exactly is your problem. What is your ultimate goal?

[2022-02-06 17:24] marcosfreitas commented on #1114
Awesome @Steindvart, I agree. On my suggestion, I just left @kamranahmedse to pick the right color :)

[2022-02-06 17:48] larshei opened #1117 "Add Elixir to backend Roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [X] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [x] Discussion for a pull request I would want to open.
- [X] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-02-06 18:03] larshei commented on #1115
URL/URI are part of understanding DNS,
so it should already be covered?

[2022-02-07 03:10] Steindvart commented on #1115
@larshei, the URL involves understanding the abstraction of the domain name, not the other way around. Because the domain name is part of it. But besides it there are also things like "protocol" (http(s), ftp and etc.), "port", "path", "query" and "fragments". Which are quite an important part for understanding web-technology in general, both for the frontend and the backend.

![image](https://use

[2022-02-07 08:56] xpwmaosldk opened #1118 "How can I contribution for changing in arrangement?"
#### What roadmap is this issue about?

- [x] Frontend Roadmap

#### What is this issue about?

- [x] Changing in arrangement

#### Please acknowledge the below listed

- [x] This is not a duplicate issue. I have searched and there is no existing issue for this.
- [x] I understand that these roadmaps are highly opinionated. The purpose is to not to include everything out there in these roadmaps bu

[2022-02-08 22:59] arthuralcorrea opened #1122 "Add Soft-Skills developer roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] So

[2022-02-09 16:08] kamranahmedse commented on #985
@ungaratto93 We strive to have a smaller list of more valuable resources, quality over quantity. Use your critical thinking to filter out non-essential stuff and ask yourself if you would personally recommend this resource to your friend, starting on software development career

@NomarGomez there aren't any conventions for that, just open a pull request following the contribution guidelines and we

[2022-02-10 04:48] lam-nya opened #1128 "Add IOS developer roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [x] Sharing an Idea
- [x] S

[2022-02-10 12:39] sabinbaniya opened #1129 "Add double click functionality for marking topics in the roadmap as completed instead of having to open the sidebar"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [x] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-02-11 09:56] #1046 closed

[2022-02-11 14:07] YektaDev commented on #1061
I agree.

- It's productive, modern, concise and safe.
- In terms of frameworks, not only Kotlin can be used with all existing Java frameworks, but also there are a handful of great frameworks written for it.
- There are plenty of [companies using Kotlin for sever-side development](https://kotlinlang.org/lp/server-side/case-studies/).

[2022-02-15 02:57] pshushereba commented on #985
@kamranahmedse Are you planning to list any paid content? Or should only free resources be submitted?

[2022-02-16 06:10] kamranahmedse commented on #985
@pshushereba only free resources for now, please.

[2022-02-16 16:17] pislagz opened #1142 "Update opensource-banner.tsx (GitHub most starred rank)"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [x] S

[2022-02-17 06:25] kamranahmedse commented on #1142
Sure, go ahead.

[2022-02-23 13:50] CurSed0 opened #1152 "Another road map"
Maybe add FSD(fullstack development) Roadmap, would help alot thanks!

[2022-02-23 14:20] #1152 closed

[2022-02-23 14:37] CurSed0 opened #1153 "add another roadmap."
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [x] Sharing an Idea
- [ ] S

[2022-02-23 21:37] badolsmito commented on #1153
Literally just read both front-end and back-end roadmaps lmao

[2022-02-24 01:44] CurSed0 commented on #1153
Lmfao I didnt realise that sorry

On Thu, 24 Feb 2022, 1:37 am CHADOLS, ***@***.***> wrote:

[2022-02-24 01:45] #1153 closed

[2022-02-24 16:45] patbi commented on #985
I create content from [my organisation](https://github.com/Thenavigo), and I wonder if it could be useful to you too.

[2022-02-27 05:35] tajpouria opened #1158 "dig command has been mentioned twice in the network section of DevOps roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [x] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [x] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-02-27 08:36] nguyenvulong commented on #667
which is not fixed (it's almost 2 years already).

[2022-03-01 06:08] Koodies commented on #985
Hi everyone, I have added some content for MongoDB for the backend roadmap. This is my first time doing a PR 😇 #1162

May I know where is the [contribution docs](https://github.com/kamranahmedse/developer-roadmap/contributing)?

[2022-03-01 07:44] aroyan commented on #985
@Koodies I think this is the [contribution docs](https://github.com/kamranahmedse/developer-roadmap/tree/master/contributing)

[2022-03-06 18:54] luisaferco commented on #985
Hi @kamranahmedse I wonder if Could I contribute for qa sections, I have been working in an initiative related technical skills to become a Test Automation Engineer and I see the QA engineer Roadmap is not ready yet.

[2022-03-07 19:16] rafaelimao opened #1178 "Graphics Programming roadmap or branch"
#### What roadmap is this issue about?

- [X] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [X] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-03-15 01:26] ldanielcolmenaresm opened #1186 "error notion with roadmap.sh"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-03-15 20:21] jack-m-logan commented on #985
Hi @kamranahmedse - love the roadmaps and great to see them evolve and grow. I'm just starting out so they've been a big help. I'm brushing up on some of the topics/technologies covered so I'll put some content together and contribute if I can!

[2022-03-16 11:25] kamranahmedse commented on #1186
Hey, I don't understand. Could you please add some description?

[2022-03-16 11:25] kamranahmedse commented on #1186
Hey, I don't understand. Could you please add some description?

[2022-03-16 11:25] #1186 closed

[2022-03-20 11:35] BOLT04 opened #1197 "Is there a tool to edit the JSON files of roadmaps?"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps
- [x] New roadmap

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Shari

[2022-03-23 12:12] RodrigoAB93 commented on #772
Hey, I'm interesting in contributed with the project. I think SPark with R and Python are important topic, if  has a telegram group for the project, please show the link.

[2022-03-27 18:23] BOLT04 commented on #1197
From the comment https://github.com/kamranahmedse/developer-roadmap/pull/1190#issuecomment-1073534959 I know we can use [Balsamiq](https://balsamiq.com/) to do the mockups, then there is this tool to convert `.bmpr` files to JSON: https://github.com/waqasilyas/json-converter-bmpr.

Closing this issue since these two tools allow a better experience than to edit JSON files manually 👍

[2022-03-27 18:23] #1197 closed

[2022-03-28 19:22] Neliitsme opened #1211 "Backend roadmap jwt.io link not working as intended"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [x] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-03-28 19:23] Neliitsme commented on #1211
I already have it fixed in my fork, just need approval to make a request as noted in the contibution docs

[2022-03-29 05:59] IvanBabakov opened #1212 "Roadmap for all"
Cool

[2022-03-30 19:54] cwerr-werg opened #1215 "Роуд"

[2022-04-02 10:37] athamour1 opened #1220 "VPN and SDN additions in DevOps diagram"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [x] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-04-03 15:21] vividsystem opened #1221 "Add gofiber to Go Roadmap"
I'd like to suggest the addition of gofiber(https://gofiber.io/) to the list of webfameworks as it's the fastest one in its field and is great for people used to express. It also offers many useful pre-made middlewares like a jwt validator

EDIT: sorry for not using the template, it doesn't work on the mobile version

[2022-04-07 14:26] Ronkiro commented on #887
I think this one needs a bump, Kubernetes popularity is raising fast.

[2022-04-07 19:49] FelipeMathieu opened #1223 "Suggestion for FE testing and state management libs"
#### What roadmap is this issue about?

- [ x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ x] Sharing an Idea
- [

[2022-04-07 20:14] FelipeMathieu opened #1224 "Suggetion for Odata to be added to the FE and BE roadmaps"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [x] Sharing an Idea
- [ ] S

[2022-04-07 20:14] discover59 opened #1225 "GraphQL issue"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [x] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-04-08 06:14] nickbullock opened #1226 "Angular roadmap: add change detection"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-04-08 12:23] bittner commented on #1215
Этот вопрос, вероятно, можно закрыть.

[2022-04-16 12:51] #1215 closed

[2022-04-16 12:52] #1212 closed

[2022-04-17 13:07] furkankayam opened #1229 "A"

[2022-04-21 00:17] slf188 commented on #1128
I'm also keenly interested in seeing an iOS Developer Roadmap here!

[2022-04-24 17:05] yanv022 commented on #1129
Hello,
can I work on this issue ?

Best regards.

[2022-04-24 17:18] Subrata287 commented on #1129
yes why not.

On Sun, 24 Apr 2022 at 22:41, yanv022 ***@***.***> wrote:

[2022-04-24 19:21] 0xf10yd commented on #1225
It's mentioned right after `Containerization vs. Virtualization` part, kindly recheck the roadmap.
@discover59

[2022-04-25 07:41] discover59 commented on #1225
Yes, I saw it on that part. My question is why it's not in APIs section.

[2022-04-25 17:33] 0xf10yd commented on #1225
From a personal perspective, if you're building a complex system, micro-frontends or Event-Driven services, then you'll definitely choose graphql which is more related to brokers.
The APIs mentioned in the roadmap are merely standard, while graphql is a query manipulation language and it takes time and effort to build something realistic that meets modern requirements.
Relatively speaking, I think

[2022-05-02 15:05] kingma-sbw commented on #933
This was closed because...?

[2022-05-02 16:56] ayoub3bidi commented on #933
I felt no one was there to reply so I closed it.

[2022-05-02 21:17] nouraldeenm0 opened #1250 "Add keyboard shortcut to toggle between a node being marked as done or pending"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [X] All Roadmaps

#### What is this issue about?

- [X] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [X] General suggestion
- [X] Sharing an Idea
- [ ] S

[2022-05-03 16:33] Phishback opened #1252 "Stanford's white-paper on "How does the Internet Works" links to access forbidden page"
#### What roadmap is this issue about?

- [ x ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ x ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [

[2022-05-03 22:28] arcman7 opened #1253 "Feature Topic Request: IDL's"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-05-05 22:12] nicolkill commented on #1117
Another Framework that its looking great its [Ash Framework](https://www.ash-elixir.org/) that its a plug based framework with ORM and also instant output in Rest or GraphQL

Also used in more companies like `OpticPower (international)`, `Players Lunge (US)`, `VentUp (Mexico)`, `Resuelve (Mexico)`

[2022-05-13 00:21] Ashvith commented on #1252
@Phishback [this](https://web.stanford.edu/class/archive/cs/cs106a/cs106a.1216/handouts_w2021/lecture-25-internet.html) is the working link I was able to find. Maybe someone can push a PR and update the old, broken link.

[2022-05-13 00:49] Phishback commented on #1252
@Ashvith Looks like it got updated somewhere but can't find the PR so closing!

[2022-05-13 00:49] #1252 closed

[2022-05-17 09:53] dev-mirzabicer commented on #667
still not fixed

[2022-05-22 11:10] anu-codes opened #1271 "Read label missing on PWA resource"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [x] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-05-24 20:08] #1271 closed

[2022-05-29 06:09] purplejuice42 opened #1276 "New repository"

[2022-05-29 06:11] #1276 closed

[2022-05-30 15:09] lorenzo-piersante opened #1277 "Move CQRS and Event Sourcing"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [x] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-05-30 15:14] lorenzo-piersante opened #1278 "Link Graph Databases to NoSQL Databases macro-topic"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [x] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-05-31 03:07] camerongable opened #1279 "Is a Flutter roadmap on the horizon?"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-06-07 16:15] ykws commented on #773
refs #1128 and [Android Developer roadmap](https://roadmap.sh/android)

[2022-06-08 16:21] GustavoPrietoCode opened #1285 "Pinia instead VueX"
#### What roadmap is this issue about?

- [X ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [X ] Addition of a new item
- [X ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [

[2022-06-08 22:16] 40x opened #1286 "Creating JSON for new roadmaps?"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [X] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [X] S

[2022-06-11 00:13] ldanielcolmenaresm commented on #1186
Basically the problem is that before I could see a preview of the roadmap.sh pages from notion, now I can't see them in notion

[2022-06-13 23:41] marcusviniciusg03dev commented on #1285
Hi! i don't ask to remove Vuex, but i wrote new Pinia file in a new pull request. Now i'm just waiting the maintainer approve or disapprove the PR. Thank you for asking for Pinia resource, and i hope i've helped!

[2022-06-15 21:20] marcusviniciusg03dev commented on #1117
I wrote the markdown file to elixir, but i need to draw those dotted lines above.

![Screenshot_20220615-181517_Chrome.jpg](https://user-images.githubusercontent.com/84883298/173931408-232e4bd6-cbcc-41a3-bda8-713f9bbc1674.jpg)

I don't know how to draw it, because it's used html path element that i cannot find in code. I think it's some lib drawing using the json file which contains the roadmap it

[2022-06-16 21:53] jess-johnson-msft commented on #817
this guy has pretty awesome video content around data science paths
https://www.youtube.com/watch?v=Akl7ndShTbo&t=1042s

[2022-06-17 08:15] qdzhaoxiaodao opened #1299 "How to export PDF after local modification?"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-06-19 17:51] Briscoooe opened #1302 "Add Redux Toolkit (RTK) to the React roadmap"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-06-19 23:37] YamiTL commented on #1122
Pretty cool idea actually, let's hope it gains traction!

[2022-06-26 05:55] cr2007 opened #1309 "Changing the starred ranking of this repository"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [X] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [X] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [X] S

[2022-06-27 01:58] creacha opened #1310 "Typo in DevOps /roadmaps/devops.png"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [x] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-06-27 04:26] vanya31 opened #1311 "New Content"
#### What roadmap is this issue about?

- [ ✅ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [✅  ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [

[2022-06-27 05:34] vanya31 opened #1312 "Tutorial Suggestion"
#### What roadmap is this issue about?

- [ ✅ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [✅  ] Addition of a new item
- [✅  ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
-

[2022-06-30 06:14] menteValidus opened #1315 "Backend dev roadmap broken link"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [x] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-07-01 11:48] Foo-x commented on #896
Looks like it's fixed.

[2022-07-01 11:48] #896 closed

[2022-07-01 22:26] coldSeattle opened #1320 "READJourney to HTTP/2 need fix link"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [x] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [x] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-07-02 10:18] vikas6767 opened #1321 "Fuj"

[2022-07-02 16:00] yanv022 commented on #1129
I can't find the Sidebar. Should i suscribe to have access to more Functionality?? Because i tried to suscribe but it's not working.

[2022-07-03 04:09] codesnail21 opened #1322 "fix: Readme broken links(Shows DNS Error)"

[2022-07-05 23:55] LuizFernandoDeveloper opened #1330 "missed Embedded Software Engineering RoadMap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-07-05 23:56] LuizFernandoDeveloper commented on #1330
Please add the "Embedded Software Engineering RoadMap"

[2022-07-08 01:27] codesnail21 commented on #1322
At that time every links are broken,
But now it's looking fine

Thanks

[2022-07-08 01:27] #1322 closed

[2022-07-09 05:14] dvnschmchr opened #1334 "Proposing a change"
#### What roadmap is this issue about?

- [X ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ X] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ]

[2022-07-11 05:29] safaorhan commented on #985
Hey @kamranahmedse, I'd like to contribute to Android roadmap. Do we have any blockers making that roadmap interactive, too?

I'm teaching Android for years now and have links to many free resources waiting aside. I'm also creating some non-monetized youtube videos for Kotlin.

Should I come up with a PR converting the roadmap.png to dom elements, or do we have an action item that needs to be done

[2022-07-11 06:01] Goutham-erram commented on #1315
Hi can i work on the above issue. if yes, can you assign this to me.

[2022-07-11 16:50] kbpersonal opened #1335 "MLOps Roadmap/Enhancement"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [x] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-07-17 12:05] TamerHN opened #1348 "Frontend Roadmap: Remix Run should be added to the Server-Side rendering framewords that are based on React Library"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-07-19 01:24] superissy commented on #985
I would like to help with the AWS roadmap

[2022-07-20 04:38] linuxdotexe opened #1351 "Feature Request: Percentage of completion on each roadmap"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [x] All Roadmaps

#### What is this issue about?

- [x] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-07-20 04:58] linuxdotexe opened #1352 "Fix a broken link in the issue template"
#### What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [x] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-07-20 11:50] cr2007 commented on #1309
@kamranahmedse

[2022-07-20 22:35] Maheerafra opened #1353 "Roadmap"

[2022-07-20 22:36] Maheerafra opened #1354 "Road map"

[2022-07-20 22:36] #1354 closed

[2022-07-20 22:37] #1353 closed

[2022-07-30 22:12] ddon opened #1366 "Linux is missing from the frontend roadmap"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-08-01 00:15] Phil-n-Jax commented on #1366
Do you have a recommended training course for Linux?

[2022-08-01 12:39] kamranahmedse commented on #1309
This has been fixed and deployed, thank you!

[2022-08-01 12:39] #1309 closed

[2022-08-01 16:07] ddon commented on #1366
These two would be a good start may be... but I haven't checked them (they are pretty popular on both platforms):

https://www.coursera.org/learn/linux-fundamentals
https://www.edx.org/course/introduction-to-linux

may be someone needs to make 'Linux for frontend developer' course?

[2022-08-02 17:30] kamranahmedse commented on #1315
This has been fixed, thank you for reporting.

[2022-08-02 17:30] #1315 closed

[2022-08-02 17:30] kamranahmedse commented on #1320
This has been fixed. Thank you for reporting.

[2022-08-02 17:30] #1320 closed

[2022-08-02 17:46] kamranahmedse commented on #1158
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-08-02 17:46] #1158 closed

[2022-08-02 17:48] kamranahmedse commented on #1310
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-08-02 17:48] #1310 closed

[2022-08-02 17:54] kamranahmedse commented on #1040
Thank you for opening the issue. Helm would fall under a subtree of Kubernetes. Since we don't have a subtree for Kubernetes, I don't see where we can fit Helm in the roadmap. However, we plan on adding a separate roadmap for the Kubernetes ecosystem and would have it there.

[2022-08-02 17:54] #1040 closed

[2022-08-02 17:55] kamranahmedse commented on #966
Closing it for now since I am not able to reproduce the issue. However, please comment here or reopen the issue if anyone else is able to reproduce it.

[2022-08-02 17:55] #966 closed

[2022-08-02 18:04] kamranahmedse commented on #1079
Thank you @angrox -- it does make sense and we should definitely have that section. Could you please provide a bulleted list of items that should be there?

[2022-08-03 06:42] sojinsamuel opened #1373 "Browser Object Model is missing from the frontend roadmap under Javascript"
#### What roadmap is this issue about?

- [x] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps

#### What is this issue about?

- [ ] Functionality of the website
- [x] Discussion for a pull request I would want to open.
- [ ] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [x] General suggestion
- [ ] Sharing an Idea
- [ ] S

[2022-08-03 07:50] kamranahmedse commented on #667
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-08-03 07:50] #667 closed

[2022-08-03 08:50] kamranahmedse commented on #720
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-08-03 08:50] #720 closed

[2022-08-03 08:52] kamranahmedse commented on #784
Thank you for opening the issue. Roadmaps are being made interactive and resources are being added for each of the nodes. Frontend and Backend roadmaps are done and can be accessed through [the website](https://roadmap.sh).

[2022-08-03 08:52] #784 closed

[2022-08-03 08:53] kamranahmedse commented on #890
Roadmaps are being made interactive. [Frontend and Backend roadmaps](https://roadmap.sh) are already interactive and the rest of them are being made interactive as we speak. Thank you for opening the issue 🙏

[2022-08-03 08:53] #890 closed

[2022-08-03 08:55] kamranahmedse commented on #840
Thank you for opening the issue but this is out of the scope of the project. However, roadmaps are being made interactive so clicking each node can give you more details about the item listed.

[2022-08-03 08:55] #840 closed

[2022-08-03 11:46] kamranahmedse commented on #762
Roadmaps are being made interactive and resources are being added. You can click through the frontend and backend roadmaps to access the links. Thank you for reporting 🙏

[2022-08-03 11:46] #762 closed

[2022-08-03 11:46] kamranahmedse commented on #679
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-08-03 11:46] #679 closed

[2022-08-03 16:05] kamranahmedse commented on #1285
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-08-03 16:05] #1285 closed

[2022-08-03 16:28] marcusviniciusg03dev commented on #1285
Thank you so much!

[2022-08-04 12:55] kamranahmedse commented on #1351
Thank you for opening the issue but we don't have any immediate plans to add the listed functionality to the website. However, it does seem interesting and we will keep it in the backlog 🙏

[2022-08-04 12:55] #1351 closed

[2022-08-04 12:57] kamranahmedse commented on #1334
It was indeed a mistake, this should have been under the JavaScript node. Thank you for pointing out!

[2022-08-04 12:57] #1334 closed

[2022-08-04 12:57] kamranahmedse commented on #1299
You can do that by [importing the roadmap JSON](https://github.com/kamranahmedse/developer-roadmap/tree/master/public/project) in Balsamiq and exporting it from there.

[2022-08-04 12:58] #1299 closed

[2022-08-04 12:59] #1211 closed

[2022-08-04 12:59] kamranahmedse commented on #1129
Thank you for opening the issue but we don't have any immediate plans to add the listed functionality to the website. However, it does seem interesting and we will keep it in the backlog 🙏

[2022-08-04 12:59] #1129 closed

[2022-08-04 18:40] kamranahmedse commented on #1015
Since there are only three pages in the main nav I don't think we need to add all this logic to highlight the active page. Thank you for your contribution though @HaithamLeo -- for next time, please take the go-ahead by opening an issue before you work on some feature :)

[2022-08-04 18:40] #1015 closed

[2022-08-04 23:32] AlbusNoir opened #1387 "Textual markup of a cybersecurity roadmap"
This might be a possible duplicate of another issue, but not sure.

I've used these roadmaps for a while and figured I'd contribute in some way to give back since I noticed it was expanding away from just development.

Please let me know if I need to go back and add anything to this or if anything needs changing

## Cyber Security Learning Roadmap
### Fundamental IT skills
- Understanding hardware

[2022-08-04 23:53] paulmarsicloud opened #1388 "DevOps roadmap sub sections are not selectable"
Sub-sections of the following sections are not selectable:

- [ ] Linux
- [ ] Unix
- [ ] Terminal Multiplexers
- [ ] Process Monitoring
- [ ] System Performance
- [ ] Network Tools
- [ ] Text Manipulation Tools
- [ ] Other

Not sure if this is by design or not

[2022-08-05 13:09] kamranahmedse commented on #1388
It was indeed a mistake, this has been fixed in the latest release. Thank you 🙏

[2022-08-05 13:09] #1388 closed

[2022-08-06 04:07] yonder17 opened #1407 "A mainframe roadmap?"

[2022-08-06 04:08] yonder17 commented on #1407
It would be great to see how a mainframe roadmap looks like.

[2022-08-10 04:48] perezthedev commented on #1387
A great list so far, completely agree a cybersecurity roadmap would be beneficial for the community. Something I would consider important for the security roadmap would be:

- Understand and support business continuity planning (BCP) and disaster recovery planning (DRP)

[2022-08-10 04:55] perezthedev commented on #1366
Thank you @ddon -- it does make sense to add that section. Could you please provide a bulleted list of items that should be there?

[2022-08-10 20:50] iArchitSharma opened #1456 "A common platform for Community"
Developer-roadmap is such a large project and there are so many individuals ready to help out and improve it, I'm writing this to say that I believe we all need a common platform where the community can engage with one another, like Discord, Slack, etc. This will not only facilitate organised community effort but also encourage participation from newcomers to the open source community. The roadmap

[2022-08-10 21:14] kamranahmedse commented on #1456
Hey Archit, thank you for opening the issue and for all your contributions to the project -- we really *appreciate* it.

Regarding the community, we do have it already. It's just not really active and also we need to do a better job at getting people to join the community. Hopefully, we will change it in the coming weeks or so. You can [join it here](https://discord.gg/g3XGR8WYC2).

Looking forwar

[2022-08-10 21:14] #1456 closed

[2022-08-11 09:39] kamranahmedse commented on #1387
Thank you @AlbusNoir that's really helpful -- we will draft it in the visual format soon.

Could you please help with the following points?

Could you please list some of the important components, and maybe mention a resource that could be put in the roadmap?

Could you list down some of the items or sub-nodes (what are those steps and terms) for this point? Any resource that could be added to the

[2022-08-11 19:12] AlbusNoir commented on #1387
For sure

Important components: CPU, RAM, Harddrives (the different types and differences: HDD, SSD, NvME), GPU are the most important. Optional would be Motherboard(the types and differences: ITX, mATX, ATX, E-ATX), PSU.
Resources: [Parts and functions](https://computerinfobits.com/parts-of-computer-and-their-functions/) [Motherboard Types](https://www.lanner-america.com/blog/types-motherboard-fo

[2022-08-13 08:29] Aarojas3012a opened #1490 "Milestone"
Developer

[2022-08-13 11:53] #1490 closed

[2022-08-14 02:03] hellyibb opened #1498 "¿"

[2022-08-14 08:49] #1498 closed

[2022-08-14 10:30] ank5-d commented on #1387
Sir I want to guidance from information technology

[2022-08-15 06:15] kamranahmedse commented on #972
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-08-15 06:15] #972 closed

[2022-08-16 03:05] narcisonunez opened #1518 "Go roadmap is an static image on the website"
https://roadmap.sh/golang

I would like to know if you are making that roadmap interactive. If you have a guide how to do it, I can do it and submit a PR.

Thanks

[2022-08-16 12:39] furkanaldemir opened #1523 "[Suggestion] Frontend Developer"

[2022-08-16 13:36] h-s04 opened #1527 "DevOps Roadmap: Replace OpenTracing with OpenTelemetry"
Hi There,
Technical Oversight Committee (TOC) has approved the archiving of the OpenTracing project and following the merger of OpenTracing & OpenCensus into OpenTelemetry. So it's considerable to replace OpenTracing with OpenTelemetry.

Ref: https://www.cncf.io/blog/2022/01/31/cncf-archives-the-opentracing-project/

OpenTelemetry is an open source project that replaces OpenTracing and OpenCensus.

[2022-08-16 13:42] kamranahmedse commented on #1527
[Done](https://github.com/kamranahmedse/developer-roadmap/commit/8785bf59173ccd0f85783e5ae5fc1cca7f0665d8), thank you for reporting @h-s04 🙏

[2022-08-16 13:42] #1527 closed

[2022-08-16 14:28] kamranahmedse commented on #1221
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-08-16 14:28] #1221 closed

[2022-08-16 14:44] kamranahmedse commented on #1518
Thank you for offering to help @narcisonunez -- I have made it interactive. However, the content isn't there, we'd appreciate it if you could help fill up the [nodes content in this directory](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/108-golang/content) as per the [format listed here](https://github.com/kamranahmedse/developer-roadmap/issues/985).

[2022-08-16 16:12] kamranahmedse opened #1529 "Add content to "Java" Roadmap"
Java Roadmap has been made interactive but it is missing content in the roadmap nodes. We need to fill the [markdown files given here](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/109-java/content) with short intro to the topic mentioned in the markdown file and add some resources as [per the guidelines here](https://github.com/kamranahmedse/developer-roadmap/iss

[2022-08-16 16:13] kamranahmedse opened #1530 "Add content to "Go" roadmap"
[Go Roadmap](https://roadmap.sh/golang) has been made interactive but it is missing content in the roadmap nodes. We need to fill the [markdown files given here](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/108-golang/content) with a short intro to the topic mentioned in the markdown file and add some resources as [per the guidelines here](https://github.com/kamr

[2022-08-16 16:13] #1518 closed

[2022-08-16 17:12] cvalston opened #1534 "Svelte?"
I don't see svelte listed. I think it should be.￼

[2022-08-16 19:05] snehashish-ghosh98 commented on #1529
Hello @kamranahmedse I would like to contribute to the project, starting from Java Syntax.

[2022-08-16 21:00] kamranahmedse commented on #1529
@snehashish-ghosh98 go ahead - looking forward to your PR

[2022-08-17 05:35] andran777 opened #1535 "Need for DevSecOps RoadMap"
**What is this issue about?**

**Enter the details about the issue here**

Along side, it would be nice to have a separate roadmap for DevSecOps. So we could cover detailed topics on security.

Some reference links for DevSecOps, I found on internet
https://www.aquasec.com/cloud-native-academy/devsecops/devsecops/
https://www.aquasec.com/cloud-native-academy/devsecops/devsecops-tools/
https://www.

[2022-08-17 17:28] mingyar commented on #1117
@marcusviniciusg03dev, my guess is that you might need to change something here: https://github.com/kamranahmedse/developer-roadmap/blob/838c3759a87c35bd6ce3c0060ba04e52e68af880/content/roadmaps/101-backend/content-paths.json

[2022-08-18 08:22] Rexibol opened #1546 "Can't download JS roadmap"

[2022-08-18 09:00] kamranahmedse commented on #1546
This has been fixed, thank you for reporting.

[2022-08-18 09:00] #1546 closed

[2022-08-18 09:43] bharatkishoremaheshwari opened #1547 "[Suggestion] PostgreSQL DBA"
If possible do make it like the other roadmaps it will be more convinient.
Thank you.

[2022-08-18 19:46] suhailkakar opened #1553 "[Suggestion] Blockchain Developer"
Hey

I think it would be great if you also include [Chainstack](https://chainstack.com/) in **Node as a Service** section.

If it is fine, I can also open a PR with more information :)

[2022-08-19 01:35] JhonSteven12 opened #1554 "Road"

[2022-08-19 03:14] targuimedam opened #1556 "Hay"

[2022-08-19 03:14] targuimedam commented on #1556
Hay

[2022-08-19 04:13] bluezdot opened #1557 "[Suggestion] Blockchain Developer"
I wish if each step have its recommended course/source.

[2022-08-19 05:58] #1556 closed

[2022-08-19 05:59] #1554 closed

[2022-08-19 06:01] kamranahmedse commented on #1557
It's still a work in progress -- we should have the courses and more resources added to the roadmaps soon. In the meantime, feel free to [submit any additional resources](https://github.com/kamranahmedse/developer-roadmap/issues/985) via PRs.

[2022-08-19 06:01] #1557 closed

[2022-08-19 13:06] Light2Dark opened #1560 "Roadmap Creator"
I love the idea of roadmap.sh but I wonder if there was an idea to create an interactive roadmap maker? To make it possible for individual creators to create their own roadmaps.

Was there thought given to this idea before? Or something similar out there?
Thank you!

[2022-08-19 16:58] IshwaranRudhara opened #1563 "ADD DSA"
Roadmap for Data Structures and Algorithms!
THANKS!

[2022-08-19 19:22] kamranahmedse commented on #1560
Yes, there was actually [some progress on that as well](https://twitter.com/kamranahmedse/status/1212866266198945792) but I dropped it halfway through because it didn't match the roadmaps style. But yes, there are some options available e.g. [react flow](https://reactflow.dev/) which can be used.

[2022-08-19 19:22] #1560 closed

[2022-08-21 02:28] Adrydevmateo opened #1576 "[Suggestion] Frontend Developer"
You can use this HTML tutorial from freeCodeCamp, it's actually up to date and probably the best video tutorial for beginners out there.

[2022-08-21 17:19] ddon commented on #1366
I would include there: using shell in general, installing and updating packages, using git, tail to watch error logs, vim to edit files... something like this.

[2022-08-22 09:43] yashbhuva opened #1577 "[Suggestion] DevOps Roadmap"
You should add Git and Github in Roadmap.

[2022-08-22 17:35] danielgruesso commented on #938
@kamranahmedse this looks good to close.

[2022-08-22 17:35] danielgruesso commented on #925
@kamranahmedse this looks good to close.

[2022-08-22 17:35] danielgruesso commented on #699
@kamranahmedse this looks good to close.

[2022-08-22 20:06] Israellacroy opened #1582 "<dev>"

[2022-08-23 07:46] #699 closed

[2022-08-23 07:46] #938 closed

[2022-08-23 15:02] MateoBetancurB opened #1586 "[Suggestion] React Developer"
hi Kamran, thanks for your work, I would like to suggest to change create react app for vite. Vite is too faster than create react app.

[2022-08-24 09:55] mattiadevivo commented on #1530
Hi, as I have experience in Go from previous role, I hope to be able to dedicate some time in filling up some nodes during next weeks!

[2022-08-24 09:57] tehsphinx opened #1590 "[Suggestion] Go Developer"
First of all: really love those roadmaps! They are awesome!

`logrus`: I know it's still the first choice by people or companies coming to Go but there are faster and better ones now. As is stated on the readme, logrus is in maintainance mode. https://github.com/sirupsen/logrus#logrus----

[2022-08-24 11:19] kamranahmedse commented on #1590
Thanks Gabriel - this has been fixed!

[2022-08-24 11:19] #1590 closed

[2022-08-24 23:28] aahumadahgit opened #1598 "[Suggestion] DevOps Roadmap"
Hi, there, i suggest adding some skills for testing and databases (relational, NoSQL, cache, etc). Especially for infrastructure-oriented DevOps. Nice work, btw ^^

[2022-08-24 23:29] aahumadahgit commented on #1598
And if you need some help with that, just let me know :3

[2022-08-25 01:28] chibuezedev opened #1599 "DevOps / SysOps Roadmap"
I'd like to contribute to devOps and sysOps roadmap.

[2022-08-25 08:30] Light2Dark commented on #1560
Hi, thank you for the answer! I was trying to build a roadmap builder in your website but I'm wondering what's the best direction forward. Do you currently build the roadmap UI structure by manually editing the json?

![image](https://user-images.githubusercontent.com/19585239/186615546-7f336911-d3d0-45e1-97c4-8a3a95681327.png)

[2022-08-25 11:09] kamranahmedse commented on #1599
Thank you for opening the issue, please have a [look at the contribution docs](https://github.com/kamranahmedse/developer-roadmap/tree/master/contributing).

[2022-08-25 11:09] #1599 closed

[2022-08-25 11:09] kamranahmedse commented on #1598
@aahumadahgit of course, what do you think should be there?

[2022-08-25 11:15] kamranahmedse commented on #1535
Thank you for opening the issue. Unfortunately, I have to close it due to the lack of subject matter experts. However, I have put it in the backlog and we might revisit this later. Also, if you would like to contribute this roadmap, please have [a look at the contribution docs](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing/roadmap.md).

[2022-08-25 11:15] #1535 closed

[2022-08-26 06:43] ShivaMudiraj7 opened #1609 "Roadmap"

[2022-08-26 10:53] #1609 closed

[2022-08-26 15:08] toledkrw opened #1612 "[Suggestion] Roadmaps in general"
Greetings!
I was wondering if you folks could add a dark theme option in the whole project, not only at the homepage.

It would be much more sight soothing for us with tired eyes 😅

[2022-08-27 09:26] Ash9311 commented on #1530
Hi, I have 1.5+ years of experience in Angular, typescript, I can do it.

[2022-08-27 09:31] Ash9311 commented on #1529
Hi, I have 1.5+ years of experience in Angular, typescript, I can do it.

[2022-08-27 10:17] kamranahmedse commented on #1612
Introducing dark mode will require significant changes to the roadmaps, and it won't be worth the effort at this point. Our focus, right now, is mainly on improving the existing roadmaps and populating the content in these roadmaps. Once we are done with that, maybe we can work on this.

[2022-08-27 10:17] #1612 closed

[2022-08-27 16:07] JaviZamudio opened #1620 "Duplicated "Tutorial with mosh""
Hey! Im reviewing the react native part of the "Front End Roadmap" and i found out, it has a duplicated link

![image](https://user-images.githubusercontent.com/75400668/187038198-727499d4-ed1f-4732-b045-87800195721e.png)

Here, the last two links reference the same video, may be the seccond one could be reused, but with a link like:

https://www.youtube.com/watch?v=1hPgQWbWmEk&t

https://www.yout

[2022-08-27 16:50] smakkking opened #1621 "[Suggestion] Backend Developer"
It will be very nice if user was able to export roadmap in check-list

[2022-08-27 23:30] Manuel-DaSilva commented on #1279
I believe this is a great opportunity, having a flutter roadmap would be amazing. I found this project while researching for a flutter roadmap.

[2022-08-29 01:59] avinash1410-cyber opened #1626 "[Suggestion] Backend Developer"
Any cloud service such as AWS,Azure,GCP?

[2022-08-29 07:56] myas92 opened #1628 "[Suggestion] Qualification levels: junior, middle, and senior for Backend and Frontend"
Determinate requirements for junior, mid-level, and senior Backend and Frontend

[2022-08-29 11:43] kamranahmedse commented on #1628
Thank you for the suggestion. Splitting the roadmap based on different levels and introducing the nodes gradually is planned and will eventually be there.

[2022-08-29 11:43] #1628 closed

[2022-08-30 19:07] ilyaSy opened #1636 "[Suggestion] React Developer"
It will be very nice to add Redux Thunk and Redux Saga as child of Redux meaning advanced knowledge of asynchronous state management

[2022-08-31 06:36] kamranahmedse commented on #1636
Thank you for opening the issue. We don't want to convolute the roadmap by mentioning every available option and are just focusing on what is the most relevant item. Redux Thunk and Redux Saga are not an absolute necessity for React apps; anyone who starts working with Redux will probably come across these libraries if needed.

This has also been [mentioned in the contribution docs](https://github

[2022-08-31 06:36] #1636 closed

[2022-08-31 07:32] Danish49 opened #1638 "[Suggestion] JavaScript Roadmap"
I am not able to download it in pdf format.

[2022-08-31 07:34] kamranahmedse commented on #1638
Hey Danish, you [can grab it here](https://roadmap.sh/pdfs/javascript.pdf).

[2022-08-31 07:34] #1638 closed

[2022-08-31 08:42] antoyne7 opened #1639 "[Suggestion] Every Roadmap"
Hi, thank you for these amazing ressources!

I suggest to replace http with https in the link. It's a nitpick but for some reason it scares me. What do you think?
![Screenshot 2022-08-31 at 10 39 14](https://user-images.githubusercontent.com/49123231/187635741-106c0713-14ce-458c-93dc-335cd12e6ac5.png)

[2022-08-31 09:55] genshinw opened #1641 "Underlying details of roadmap-renderer ？"
Hi, I very like the beautiful roadmap, I want to know how to impl such svg clickable roadmap. Do you have any plan to make the roadmap-renderer to public？ Thanks very much.

[2022-08-31 10:35] harshbisle opened #1642 "[Suggestion] JavaScript Roadmap"
Hi, the work you're doing is impressive.

I'm suggesting a few points to add to the module section of the JavaScript roadmap.

1. How to import and export modules
2. default and named exports

Thank you for instituting roadmap dot sh.

[2022-08-31 12:47] vishalshinde02 commented on #1530
I am learning Go recently. I can try to write in one of the nodes.

[2022-08-31 13:30] ife-adewunmi opened #1643 "Make isInteractiveRoadmap method generic"
Good work you are doing on this project. I was going through the codebase locally and I noticed that roadmap IDs were hardcoded array within isInteractiveRoadmap() located in [roadmap.ts](https://github.com/kamranahmedse/developer-roadmap/blob/master/lib/roadmap.ts).

I would like to know if that is done deliberately or if I could add a change to that so it gets an array of roadmap IDs dynamically

[2022-08-31 13:32] kamranahmedse commented on #1643
Hey @ife-adewunmi, thank you for suggesting to contribute. The hardcoded values are intentional; no need for a change as this logic will be removed as we make all the roadmaps interactive.

[2022-08-31 13:48] pptyasar opened #1644 "Not able to install modules"
Getting below error when npm i

`30 error /usr/bin/git ls-remote -h -t ssh://git@github.com/kamranahmedse/roadmap-renderer.git
30 error ERROR: Repository not found.
30 error fatal: Could not read from remote repository.
30 error Please make sure you have the correct access rights
30 error and the repository exists.`

[2022-08-31 16:35] tera1oo4 opened #1645 "Cant see interactive roadmap with vpn+pi-hole"
<img width="994" alt="image" src="https://user-images.githubusercontent.com/47866013/187731865-ec83fc0b-8b44-4b99-b075-45df7da02abe.png">

[2022-08-31 16:36] kamranahmedse commented on #1645
@tera1oo4 did you try refreshing? Also, could you please share the console logs and your operating system and browser information?

[2022-08-31 16:42] tera1oo4 commented on #1645
@kamranahmedse refreshing cant help. i use mac os 11.5.1 and chrome 103.0.5060.134. logs :
<img width="766" alt="image" src="https://user-images.githubusercontent.com/47866013/187733116-b9be63e0-6ec2-4e2f-848a-714c140f6db5.png">

[2022-08-31 18:07] leultefera opened #1647 "[Suggestion] Frontend Developer"
I am a self taught developer and I have used this tool to guide me learn. I am referring it now for my friends and I wanted to contribute in adding resources as well helping fix issues.

[2022-08-31 18:13] leultefera commented on #1644
I am having the same issues :(

[2022-08-31 22:06] kamranahmedse commented on #1645
@tera1oo4 thank you for sharing the information. I don't see any errors relevant to the website. It could be [because of the extensions](https://stackoverflow.com/questions/72494154/a-listener-indicated-an-asynchronous-response-by-returning-true-but-the-messag) you have installed. Could you try in incognito maybe?

[2022-08-31 22:08] kamranahmedse commented on #1647
Thanks, @leultefera, for your offer to help. Please go ahead with the content addition. You can [follow the instructions listed in this issue](https://github.com/kamranahmedse/developer-roadmap/issues/985) and start by contributing to the [JavaScript roadmap](https://roadmap.sh/javascript).

[2022-08-31 22:08] #1647 closed

[2022-09-01 13:00] lailaCivatti opened #1654 "[Suggestion] Frontend Developer"
Hi, I just wanted to let you know that the content of the pdf file available for download does not correspond to the content on the online roadmap. Maybe the file has simply not been updated, but the actual page has...
Thanks for your awesome work!

[2022-09-01 13:03] dekadentno commented on #1641
Please @kamranahmedse think about making the roadmap renderer public. We'll be able to implement custom and interactive roadmaps for our colleagues. Roadmaps do not have to be strictly related to the world of development and this tool would help everyone who wants to implement something like that.

[2022-09-01 19:34] kamranahmedse commented on #1654
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-09-01 19:34] #1654 closed

[2022-09-01 19:36] kamranahmedse commented on #1642
Thank you for opening the issue, Harsh. The "Modules in JavaScript" block should cover that. These details are to be shown on the click of that node.

<img width="592" alt="image" src="https://user-images.githubusercontent.com/4921183/187997873-f9898094-cfae-4027-8bc5-c3ff82b93540.png">

[2022-09-01 19:36] #1642 closed

[2022-09-02 05:50] umair313 opened #1662 "Add Cyber Security roadmap"
Please add cyber security and ethical hacking roadmap.

[2022-09-02 07:30] kamranahmedse commented on #1662
The cybersecurity roadmap _is_ part of the project roadmap and will be added in the near future.

[2022-09-02 07:30] #1662 closed

[2022-09-02 07:31] kamranahmedse commented on #1530
No need to comment here, or request approval. Go ahead and open PRs @vishalshinde02 @Ash9311 :)

[2022-09-02 08:52] dekadentno commented on #1641
@genshinw here's a temporary solution I found: checkout to an commit that is made before the author decided to make the roadmap-renderer private, and simply continue from there.
[code]
That commit happened at Aug 28, 2022.

[2022-09-02 12:26] nodorgrom opened #1665 "[Suggestion] DevOps Roadmap"
Good afternoon!

By my opinion, should also specify are methodologies and lifecycle of release and system control versions, like git, svn, mercurial.

[2022-09-02 13:26] AlFahimBinFaruk opened #1667 "About DSA"
Give us a list of Data structure and Algorithms in the DataStructures tab of Java roadmap or separately make a roadmap on it..

[2022-09-02 15:51] igoracmelo opened #1668 "Frontend: some groups are too bloated"
I think this section has many groups of stuff.
For example: Storage, Web Sockets, Lighthouse and others could be individual "tasks" instead of one big task.
It makes marking what you've studied easier :)

![image](https://user-images.githubusercontent.com/85039990/188191541-c4d088fa-ce21-42bd-9222-582695a42928.png)

[2022-09-02 19:06] codeguage-code opened #1671 "[Suggestion] JavaScript Roadmap"
So far, the roadmap looks great. But we feel that a little bit more could be added regarding the HTML DOM and the CSSOM APIs. No one can neglect the importance of the DOM and the CSSOM in JavaScript.

[2022-09-02 19:09] #1671 closed

[2022-09-02 19:10] codeguage-code commented on #1671
Got to explore the Frontend roadmap, and saw the DOM mentioned right there.

[2022-09-02 20:54] igorcafe opened #1673 "Go: add stdlib common packages"
Add packages like net, net/http, io, and so on

[2022-09-04 04:55] Crayon97 opened #1682 "Found this resource that should be included in OS section"
It explains the OS boot up process that is asked commonly in interview https://medium.com/10xcod3r/what-really-happens-when-you-switch-on-a-computer-defe74ccaba4

[2022-09-04 07:15] Ash9311 commented on #1530
![image](https://user-images.githubusercontent.com/44554225/188302018-71e2d06a-21d6-4cb6-8362-7e39ef8e2511.png)
Hey, can you provide me with Access @kamranahmedse

[2022-09-04 11:35] kamranahmedse commented on #1645
Closing it for no response, please re-open if the issue persists or anyone else has the same issue.

[2022-09-04 11:35] #1645 closed

[2022-09-04 11:54] DeepKotadiya144 opened #1684 "[Suggestion] Backend Developer"
Can you please choose your personal favourite one language in backend development?
Because there is no personal preference in language tag.No purple tick😀
Thank you for everything 🙏

[2022-09-04 13:29] genshinw commented on #1641
@dekadentno Thank you very much！But after checkout this 83933b9 version, I haven't find the `render` dir in lib. Where did I go wrong?
<img width="1219" alt="image" src="https://user-images.githubusercontent.com/12270447/188316076-42435aa6-31f8-4e63-9892-1dad5c37af8f.png">

[2022-09-04 17:56] pptyasar commented on #1644
@kamranahmedse  can you help on this

[2022-09-04 21:51] dracarys55 opened #1694 "Already subscribed but couldn't get the download link"
Hey I just subscribed your website but I still couldn't get the download link.
Can you help me with that? Thank you very much!!

[2022-09-05 06:00] kamranahmedse commented on #1694
Hey, it was just sent to you in an email. Can you please check? Thank you!

[2022-09-05 06:00] #1694 closed

[2022-09-05 06:18] dracarys55 commented on #1694
Thank you very much! I just got it.

[2022-09-05 07:15] janekerry123 opened #1696 "Translation into"

[2022-09-05 07:19] janekerry123 commented on #1696
Hi Karman,
Can you authorise me in translating this project in Chinese as I want my friends living in China unsderstand how he or she can be a programmer with little English skill.

Thanks,
Rosalind

[2022-09-05 07:30] dekadentno commented on #1641
@genshinw I am not entirely sure what happened. If I were you, I would just find the "Add roadmap-renderer package" commit on the master branch from Aug 28, 2022 and go back in time one commit at a time and find the one that works locally.

https://github.com/kamranahmedse/developer-roadmap/commits/master?after=ed9222c172e3ddf20bd386ca1491f2a5d880e147+69&branch=master&qualified_name=refs%2Fheads%2

[2022-09-05 12:22] nnivxix opened #1698 "[Suggestion] Vue Developer : Vitest"
please add vitest in testing section

[2022-09-05 19:44] rahul4coding commented on #1665
@nodorgrom:+1

[2022-09-06 11:19] KKKZOZ commented on #1644
I am having the same issues :(

[2022-09-06 14:43] yashdev9274 commented on #985
is this issue still open?

[2022-09-06 16:09] AbodyAmer commented on #1644
Same issue here

[2022-09-06 17:26] aliraza5490 opened #1702 "Unable to download roadmaps"
Hi, I'm unable to download the Roadmaps. When I click on the download link, it says "This email address has already been subscribed". But I could not receive the download link in my email inbox.

[2022-09-06 17:45] bradinator opened #1703 "[Suggestion] All Roadmaps - Filter based on checkmark color"
It would be a nice touch if we could filter based on the checkmark color.
My thought is that clicking the checkmark in the legend at the top would show/hide the items in the roadmap below based on the check.

[2022-09-06 18:07] #1702 closed

[2022-09-06 18:23] ZanaSalimi opened #1704 "[Suggestion] Blockchain Developer"
Hey, There is a problem with Blockchain steps.
You should learn Javascript, then learn React, ...
Please fix that.

[2022-09-07 04:56] snsk opened #1708 "[Suggestion] QA Engineer"
Headless Testing is a child element of Test Automation and should be placed before CI, because we believe that E2E testing embedded in CI is basically Headless. What do you think?

[2022-09-07 16:26] shahrierNafis opened #1716 "[Suggestion] Frontend Developer"
Way to make a user account and save "Mark as Done"

[2022-09-07 22:35] DevCapu opened #1717 "[Suggestion] Android Developer - Jetpack Compose"
Maybe we should have Jetpack Compose as a must, Thoughtworks's [Tech Radar 25](https://www.thoughtworks.com/radar/languages-and-frameworks/jetpack-compose) (2021 October) added Jetpack Compose as technology that should be adopted on new projects

[2022-09-08 16:21] 7dir commented on #1644
+1

[2022-09-08 21:18] rapancristian commented on #1644
+1

[2022-09-08 21:20] Olayanju-1234 commented on #1684
Yes. You can pick a language that ypu are most comfortable with. Python has django for backend and Javascript has Nodejs. There is also PHP.

[2022-09-08 21:23] Olayanju-1234 commented on #1644
Check this page and see if it works [https://stackoverflow.com/questions/13509293/git-fatal-could-not-read-from-remote-repository](url)

[2022-09-09 08:22] Olayanju-1234 commented on #1644
[If it still doesn't work, just copy the link and paste it in another tab ](https://stackoverflow.com/questions/13509293/git-fatal-could-not-read-from-remote-repository)

[2022-09-09 14:50] kamranahmedse commented on #1644
This has been fixed. Thank you for reporting!

[2022-09-09 14:50] #1644 closed

[2022-09-09 14:52] kamranahmedse commented on #1641
Thank you for opening the issue. I am in the process of rewriting bits of the project. The roadmap renderer has been taken out from the codebase into a separate package. It needs to be cleaned up and be made feature complete before we make it public. However, you should be able to install the dependencies now.

[2022-09-09 14:52] #1641 closed

[2022-09-11 13:41] AnsonChuangtw opened #1733 "[Suggestion] Backend Developer"
Download Function Suck.

[2022-09-12 05:35] 7hibault opened #1740 "[Suggestion] DevOps Roadmap"
Hi !

Big fan of all the roadmaps :)

Here are a few suggestions for the DevOps Roadmap :
1. Some words about the mindset, as DevOps isn't just a set of tools
2. General cloud knowledge, bare metal, IAAS, PAAS, serverless, ...
3. Backup tools and practices

Cheers !

[2022-09-12 05:38] AhmedIbrahim336 opened #1741 "There is not AI in the list?"
With more people wanting to choose **AI** as their **career** I think we should add it!

[2022-09-12 12:26] Tiska commented on #1279
we are currenty writing a roadmap for internal purpose, we would like to propose a PR on this repo but I can't find a how or documentation to on this repo ?

[2022-09-13 14:40] janyin opened #1755 "[Suggestion] Frontend Developer"
Hi, I wish could add `pnpm` to the part of package managers in frontend roadmap as `pnpm` gets more popular.

I used `pnpm` in my project, it is an amazing package manager.

[2022-09-13 15:37] alabliuk opened #1759 "[Help] 404 error in https://roadmap.sh/"
Its returning the 404 error on the website https://roadmap.sh/

Request URL: https://roadmap.sh/
Request Method: GET
Status Code: 404
Remote Address: 185.199.111.153:443

[2022-09-13 15:40] kamranahmedse commented on #1759
Thank you for reporting @alabliuk -- it should be fine now.

[2022-09-13 15:40] #1759 closed

[2022-09-15 13:30] LouisDega opened #1765 "[Suggestion] DevOps Roadmap"
The database section is missing.

[2022-09-15 18:58] MigliNico opened #1766 "[Suggestion] DevOps Roadmap Add Build Tools"
Add buils tools. For example : maven, gradle, sbt.

[2022-09-16 09:14] wlxapatil opened #1769 "[Suggestion] DevOps Roadmap - KONG and SOLO service mesh"
Add KONG and SOLO service mesh to the list

[2022-09-16 09:15] wlxapatil opened #1770 "[Suggestion] DevOps Roadmap - IAC"
Check/add for CROSSPLANE

[2022-09-16 09:17] wlxapatil opened #1771 "[Suggestion] DevOps Roadmap - CI/CD tool"
add harness.io

[2022-09-17 14:02] kamranahmedse commented on #1279
Thanks, @Tiska -- feel free to [submit a textual format similar to this JavaScript roadmap](https://gist.github.com/kamranahmedse/98758d2c73799b3a6ce17385e4c548a5).

[2022-09-17 18:25] CodeWithUma commented on #1620
Hi @JaviZamudio. I have opened one pull request for this issue. Please kindly close this issue.

Thanks!

[2022-09-18 10:15] #1620 closed

[2022-09-18 15:03] AmirABody opened #1792 "[Suggestion] Frontend Developer"
You can add `pnpm` to Package Managers list in the FrontEnd Roadmap.

[2022-09-18 16:25] kamranahmedse commented on #1792
Duplicate of https://github.com/kamranahmedse/developer-roadmap/issues/1755

[2022-09-18 16:25] #1792 closed

[2022-09-19 09:09] bhatnagardivyanshu opened #1803 "[Suggestion] Backend Developer"
Can we also add some sense of time each of these items will take or usually take? I know this is very subjective but it will give an important perspective to anyone who wants to prioritise things

[2022-09-19 12:08] dmdbilal commented on #1529
Is this issue still open?

[2022-09-20 09:40] gyaninnovations5 opened #1813 "[Not a suggestion but a question that I can not see Selenium as QA tool. It is one of the most popular testing framework] QA Engineer"
Hi,
First of all thanks for the greate content you provide as roadmap. I was waiting for QA roadmoap for so long.
I can not see selenium there. Just curious about why it is not there.
Thanks

[2022-09-20 11:35] iArchitSharma commented on #1529
yes you can still add new or update content on all the Roadmaps

[2022-09-20 13:58] Olayanju-1234 opened #1815 "[Suggestion] Nodejs roadmap"
Inclusion of Handlebars in `Templating engine` the NodeJs roadmap will be a welcome addition. I'll personally work on updating it in very simplified and educating way.

[2022-09-20 15:32] herrr14 opened #1816 "[Suggestion] QA Engineer"
The color legends between Concept and Tools look the same, maybe the Tools legend color needs to be darker in color. So people can see the difference.

[2022-09-21 07:42] rajtilakai opened #1823 "[Suggestion] Python Developer"
For the Python Developer roadmap, maybe we can move the Advanced Topics above D&A since they are required to understand the algorithms properly.

[2022-09-21 08:20] anassarfraz opened #1824 "[Suggestion] in node js roadmap"
Include how to nodejs works topic in **introduction to node js** for understand the flow how nodejs work, if its needs.

https://www.youtube.com/watch?v=jOupHNvDIq8
![image](https://user-images.githubusercontent.com/22854438/191440893-c1a364b2-4786-4259-8e90-d9e94645824a.png)

[2022-09-21 09:15] kamranahmedse commented on #1824
This would better be a resource under "What is Node.js", instead.

[2022-09-21 09:15] #1824 closed

[2022-09-21 09:22] anassarfraz commented on #1824
Well, it would better
thanks @kamranahmedse

[2022-09-21 11:34] #1816 closed

[2022-09-21 11:35] Youngporcher opened #1826 "[Suggestion] Frontend Developer"
need add crossbrowser

[2022-09-21 11:36] #1815 closed

[2022-09-21 11:46] kamranahmedse commented on #1813
Perhaps an oversight, thank you, this has been fixed. Should be deployed soon.

<img width="313" alt="image" src="https://user-images.githubusercontent.com/4921183/191496024-9ac68af1-4e9e-4464-8aa5-f52bf091c735.png">

[2022-09-21 11:46] #1813 closed

[2022-09-21 12:27] kamranahmedse commented on #1696
We do have the [chinese translation available here](https://github.com/kamranahmedse/developer-roadmap/tree/0471d44c8fae58b6a36a7c57bba12253916d0249/translations). Feel free to share it with them but please note that the redistribution is not allowed. However, we do plan on implementing the localization soon, so stay tuned.

[2022-09-21 12:27] #1696 closed

[2022-09-21 12:30] kamranahmedse commented on #1803
Thanks for the suggestion @bhatnagardivyanshu; you said it yourself, it's subjective :)

We don't have any plans for adding that, everyone is different and learns differently. Having time-bound nodes is going to open up yet another pandora's box.

[2022-09-21 12:30] #1803 closed

[2022-09-22 06:42] kamranahmedse opened #1836 "Add content to Go Roadmap"
[Go Roadmap](https://roadmap.sh/golang) has been made interactive, but it is missing content in som of the roadmap nodes. We need to fill the [markdown files given here](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/109-golang/content) with a short intro to the topic mentioned in the markdown file and add some resources as [per the guidelines here](https://github.

[2022-09-22 06:43] kamranahmedse opened #1837 "Add content to Java roadmap"
[Java Roadmap](https://roadmap.sh/java) has been made interactive, but it is missing content in some of the roadmap nodes. We need to fill the [markdown files given here](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/110-java/content) with a short intro to the topic mentioned in the markdown file and add some resources as [per the guidelines here](https://github.c

[2022-09-22 06:44] kamranahmedse opened #1838 "Add content to JavaScript roadmap"
[JavaScript Roadmap](https://roadmap.sh/javascript) has been made interactive, but it is missing content in some of the roadmap nodes. We need to fill the [markdown files given here](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/106-javascript/content) with a short intro to the topic mentioned in the markdown file and add some resources as [per the guidelines here

[2022-09-22 06:45] kamranahmedse opened #1839 "Add content to Node.js roadmap"
[Node.js Roadmap](https://roadmap.sh/nodejs) has been made interactive, but it is missing content in some roadmap nodes. We need to fill the [markdown files given here](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/107-nodejs/content) with a short intro to the topic mentioned in the markdown file and add some resources as [per the guidelines here](https://github.c

[2022-09-22 06:46] kamranahmedse opened #1840 "Add content to QA roadmap"
[QA Roadmap](https://roadmap.sh/qa) has been made interactive, but it is missing content in some of the roadmap nodes. We need to fill the [markdown files given here](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/113-qa/content) with a short intro to the topic mentioned in the markdown file and add some resources as [per the guidelines here](https://github.com/kam

[2022-09-22 08:46] Atos4444 opened #1841 "[Suggestion] Backend Developer"

[2022-09-22 10:02] ErikWillekens opened #1843 "[Suggestion] Backend Developer"
Hello, I would like to add items (youtube links and edit text) - would be nice if there is a tutorial on how to do that.

I wanted to add a link yet didn't find how to do it and then gave up. I believe beginning programmers like me might give up if it hasn't got clear instructions yet they find good resources because they are constantly self researching

I wanted to add this link to dns:
https://w

[2022-09-22 10:05] kamranahmedse commented on #1843
Hey @ErikWillekens, the [details are listed here](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing.md#adding-content)

[2022-09-22 10:05] #1843 closed

[2022-09-22 12:43] BElluu opened #1846 "[Suggestion] Go Developer"
Hi,
In slices this link leads to arrays
![image](https://user-images.githubusercontent.com/11333925/191750024-e02b5a3e-4ac8-48cd-b1ea-1db4b03672f0.png)

Please change it to https://go.dev/tour/moretypes/7

[2022-09-22 12:59] kamranahmedse commented on #1226
This has been fixed and is being deployed. Thank you 🙏

[2022-09-22 12:59] #1226 closed

[2022-09-22 12:59] kamranahmedse commented on #1073
This has been fixed and is being deployed. Thank you 🙏

[2022-09-22 12:59] #1073 closed

[2022-09-22 13:00] kamranahmedse commented on #970
This has been fixed and is being deployed. Thank you 🙏

[2022-09-22 13:00] #970 closed

[2022-09-22 13:54] kamranahmedse opened #1847 "Add content to Angular Roadmap"
[Angular Roadmap](https://roadmap.sh/angular) has been made interactive, but it is missing content in some of the roadmap nodes. We need to fill the [markdown files given here](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/104-angular/content) with a short introduction to the topic mentioned in the markdown file and add some resources as [per the guidelines here](

[2022-09-22 13:55] kamranahmedse commented on #1846
Fixed in https://github.com/kamranahmedse/developer-roadmap/commit/ecf64a2e366bc8898faaf184f4b726b2d6897974 - thanks!

[2022-09-22 13:55] #1846 closed

[2022-09-22 15:12] ronycohen opened #1848 "[Suggestion] DevOps Roadmap"
Hi I would have add APM (Elasticsearch) on Application monitoring.

[2022-09-22 19:45] Iguinho94CP opened #1851 "[Suggestion] Python Developer"
Hello, would it be possible to add a feature to keep the nodes marked as done saved? Because if I leave the roadmap website, or clear the browser's history,  it does not keep the nodes I had previously marked as done saved. So I would appreciate if you guys could somehow make a change to keep those nodes marked as done saved, so we can keep track of our study.

Another thing, would be possible to

[2022-09-23 06:12] Nisarg-Chokshi commented on #1838
Hello @kamranahmedse, Can I work on this ?

[2022-09-23 06:13] Nisarg-Chokshi commented on #1839
Hello @kamranahmedse, Can I work on this ?

[2022-09-23 18:15] 45m0d3u5 opened #1862 "[Suggestion] Frontend Developer"
Hi!
I want to suggest effector as state manager. It is much more better than all state managers have written on roadmap

https://effector.dev/

community:
telegram: https://t.me/effector_ru
dev to: https://dev.to/effector
github: https://github.com/effector

[2022-09-23 20:18] krupalitrivedi commented on #1847
Hello! I would love to work on this during the hacktoberfest and before that too!

[2022-09-24 11:56] rein0217a commented on #1696
Hi Karman,
Do you plan to add videos translation.

I want Japanese translation.

[2022-09-25 12:39] kamranahmedse commented on #1862
Thank you for opening the issue. We don't want to convolute the roadmap by mentioning every available option and are just focusing on what is the most relevant item that you would pick today, and the mentioned item doesn't conform to that.

This has also been [mentioned in the contribution docs](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing.md#guidelines).
Thank you f

[2022-09-25 12:39] #1862 closed

[2022-09-25 14:02] ZahraShahid commented on #1839
I'm interested to work on this.

[2022-09-25 14:05] ZahraShahid commented on #1838
Shall I work on this?

[2022-09-25 16:52] Rike19 opened #1871 "Web programming"

[2022-09-25 21:34] naivary opened #1874 "Version Control - Git"
Git is the fundament for every team project. I would say that it should be a must have skill but starting with git can be hard. I don't know how a Roadmap may look but in my opinion it should be discussed and added to the "skill based" category, maybe even a GitOps Roadmap?

[2022-09-26 09:25] chkchun opened #1875 "[Suggestion] Backend Developer"
Hi, is it possible to add suggestion on different technology platform or ecosystem? If someone is .NET developer, he/she might interested to know what are the knowledge the backend developer for .NET. Thanks.

Examples:
Microsoft .NET
Java
Python

[2022-09-26 09:27] chkchun opened #1876 "[Suggestion] Frontend Developer"
Hi, is it possible to add suggestion on different technology platform or ecosystem? If someone is .NET developer, he/she might interested to know what are the knowledge the frontend developer for .NET. Thanks.

Examples:
Microsoft .NET
Java
Python

[2022-09-26 21:52] kamranahmedse opened #1879 "Add content to Software Architect Roadmap"
[Software Architect Roadmap](https://roadmap.sh/software-architect) has been made interactive, but it is missing content in some roadmap nodes. We need to fill the [markdown files given here](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/114-software-architect/content) with a short introduction to the topic mentioned in the markdown file and add some resources as

[2022-09-27 06:48] samyukthasudhakar commented on #1879
Hi @kamranahmedse ! I'd like to take up this task, can you please assign it to me. Thanks !

[2022-09-27 07:43] kamranahmedse commented on #1876
@chkchun no plans for that at the moment. However, we have a separate .NET roadmap planned where you will be able to add those.

[2022-09-27 07:43] #1876 closed

[2022-09-27 07:43] kamranahmedse commented on #1875
@chkchun no plans for that at the moment. However, we have a separate .NET roadmap planned where you will be able to add those.

[2022-09-27 07:43] #1875 closed

[2022-09-27 07:46] kamranahmedse commented on #1851
We will be adding user accounts to the website soon. Progress will be saved and shareable in the public profile. Stay tuned!

Regarding Flask and Django, sure would you be able to [draft a textual roadmap](https://gist.github.com/kamranahmedse/98758d2c73799b3a6ce17385e4c548a5) and share it with us to start with?

[2022-09-27 07:46] #1851 closed

[2022-09-27 11:04] haseeb-xd commented on #1837
I want to work on these nodes which are missing content and resources.

[2022-09-27 11:11] kamranahmedse commented on #1879
Thanks for offering to help @samyukthasudhakar -- there are hundreds of nodes, so multiple contributors can contribute to this task by adding content to the nodes. Feel free to open pull requests with batches of 10 or 15 nodes with contents in each PR.

[2022-09-27 11:12] kamranahmedse opened #1885 "Add content to DevOps roadmap"
[DevOps Roadmap](https://roadmap.sh/devops) has been made interactive, but it is missing content in some roadmap nodes. We need to fill the [markdown files given here](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/102-devops/content) with a short introduction to the topic mentioned in the markdown file and add some resources as [per the guidelines here](https://gi

[2022-09-27 12:53] hasnainmakada-99 commented on #1885
Hello @kamranahmedse can I work on this issue

[2022-09-27 15:25] samyukthasudhakar commented on #1879
Sure @kamranahmedse . Will proceed as suggested 👍🏽

[2022-09-28 02:41] trinhhuynhhan opened #1903 "[Suggestion] React Developer"

[2022-09-28 06:34] dhruvasagar commented on #1885
Created #1905 , let me know if it looks alright and I can take a look at contributing to other parts of this Roadmap.

[2022-09-28 08:29] chkchun opened #1906 "[Suggestion] .NET Developer"
Could you please include "Step by step guide to becoming a .NET developer in 2022"?

[2022-09-28 08:34] chkchun commented on #1876
@kamranahmedse
Looking forward for .NET roadmap, thank you.

[2022-09-28 08:34] chkchun commented on #1875
@kamranahmedse Looking forward for .NET roadmap, thank you.

[2022-09-28 09:04] johnwinifred commented on #1838
Hello, please I would love to work on this

[2022-09-28 15:16] Giorgiosaud opened #1908 "[Suggestion] Vue Developer"
i would add vite support and modules deployment, know the distinct deployment needs and restrictions
and how to replace inline-templates with outside of app data

[2022-09-28 15:17] Giorgiosaud opened #1909 "[Suggestion] Frontend Developer"
maybe add some kind of sso knoledge, even some like openid and oauth flows

[2022-09-28 20:30] ShobhanSrivastava commented on #1885
Hey @kamranahmedse I am a beginner to open source contributing. Can I start my journey with this issue? Also can you guide me a bit on how to start contributing?

[2022-09-29 03:17] huyhoang160593 opened #1914 "[Suggestion] Vue Developer"
For testing library I would suggest the **Playwright Framework** for testing E2E web application as a replacement for Cypress because of the funtionalites it provide, and **vitest** as replacement for jest because it have the same maintainer as Vue are

[2022-09-29 13:05] esra-abo-sada opened #1917 "[Suggestion]"
we need a road map for ui/ux designer and for graphic designer

[2022-09-29 16:53] KodeyThomas commented on #1879
Haven't contributed in a while! Will be making a PR 👍🏻

[2022-09-30 03:28] gusantoscode opened #1920 "[Suggestion] Ethical Hacking - Red and Blue Team"
I have a suggestion. I think ethical hacking is a very important area of technology, and I think a lot of people would like to pursue that career.

[2022-09-30 06:34] Abhaikumar007 opened #1921 "[Suggestion] Frontend Developer"
I think it would be great if you specify like...why this programming language is necessary to learn about front end development..As it would be really beneficial

[2022-09-30 12:42] Atharv-Nalwade commented on #1921
What do you expect in the roadmap
I am currently exploring frontend dev. so I would like to work on it

[2022-09-30 13:40] CodeWAdi commented on #1838
Hey as I am one the user  of your JAVASCRIPT roadmap.sh I would love to contribute in this issue.

[2022-09-30 16:17] Atharv-Nalwade commented on #1921
Ok I get that Can I get assigned to this issue

[2022-09-30 17:09] nabeel001 commented on #1836
Hi, I would like to work on this issue during this hacktoberfest, I kindly request you to assign me this issue. Thanks!

[2022-09-30 17:21] Malnasser opened #1936 "[Suggestion] NestJS Developer"
Hello All,

Looking at the Skills-based roadmaps available. I can't find any backend framework. I'm suggesting adding NestJS to the list of skills-based road maps. I would like to help with that. Please guide me on how I can start.

Best regards

[2022-09-30 17:33] hitaarthh commented on #1879
Looking forward to work on it.

[2022-09-30 18:07] SarveshN23 commented on #1837
Hello @kamranahmedse, I would like to work on this. Can I be assigned to this?

[2022-09-30 18:21] hitaarthh commented on #1847
Hello can i work on it?

[2022-09-30 18:46] hitaarthh commented on #1847
@kamranahmedse how can i change the colour using ```BadgeLink``` as per the guidelines, i'm unable to get the colour using badgeLink, can i use any other methods to attach the link?

[2022-09-30 18:55] hitaarthh commented on #1847
Updated the 100-what-is-typescript.md #1938

[2022-09-30 19:26] hitaarthh commented on #1838
@kamranahmedse Hey, I'm a JavaScript Developer, Can i Work on this?

[2022-10-01 01:39] rajbhoyar729 commented on #1836
hi @kamranahmedse  i  don't know  much  about   creating  roadmaps  but  i  can try  if  you  guide  me  a  little  bit  bro

[2022-10-01 02:23] khairnarsaurabh23 commented on #1909
Can I work on this issue?

[2022-10-01 03:03] Rohan27s commented on #1838
I want to work on this issue

[2022-10-01 03:13] RaheemAmer opened #1943 "Add Ui & Ux Roadmap"
## Suggestion

- https://bootcamp.uxdesign.cc/the-self-taught-ui-ux-designer-roadmap-in-2021-aa0f5b62cecb

## Screenshots

![image](https://user-images.githubusercontent.com/18606136/193384265-82064864-4c7d-44ec-a59d-87773d07bc1c.png)

![image](https://user-images.githubusercontent.com/18606136/193384244-033cf35f-edad-4598-a7c6-384369b93464.png)

[2022-10-01 03:22] GabrielMoody commented on #1836
Hi @kamranahmedse, I would like to help you with this issue. Can you assign me to this issue?. Thanks!

[2022-10-01 05:08] yashdev9274 commented on #1885
@ShobhanSrivastava go to roadmap.sh website pick any roadmap, then go to any section of that respective roadmap and click on "Edit This Page" and do changes as per your wish.

[2022-10-01 05:32] keerthanasathya opened #1945 "Adding React Native roadmap"

[2022-10-01 05:48] yashdev9274 opened #1947 "[Suggestion] Backend Developer"
I would like to add Containerization section in Backend roadmap along side with Cloud Providers section.
If you can tell me how can I add new section then  I would love to work on it.

[2022-10-01 05:53] vanya31 opened #1948 "[suggestion] Cloud Roadmap"
Cloud Computing and Virtualization in a coveted course in my institution with about 67% CSE recruiters asking for cloud skills as pre-requisite. A cloud computing roadmap would be very helpful be it for the core students or ones pursuing cloud as minor.

[2022-10-01 06:02] Yaminyam commented on #1839
I'm interested in that contribution!

[2022-10-01 06:54] Prashant-Bhapkar opened #1953 "Add content to Web3, DAO, NFT"
Looking forward to adding resources and content regards Web3, DAO, NFT

[2022-10-01 07:29] eskayML opened #1959 "ML Engineer Roadmap"
Good day guys and happy hacktoberfest, I'd love to see a ML Engineer Roadmap , I can't seem to find it.

[2022-10-01 08:10] himanshuaggar commented on #1839
I'm interested in working on this .

[2022-10-01 08:44] AD1TYA03 opened #1963 "Flutter Roadmap is missing I can add that"

[2022-10-01 09:32] ojasaklechayt commented on #1838
Hello!! I would like to work on the project. I have checked out the roadmap and got the chance where I can contribute. So, please assign me.

[2022-10-01 10:11] Bibhavshah commented on #1921
I have already explored and learned front-end development from scratch. So, I think I can provide a good Road Map for the upcoming developers, please assign me with this issue.

[2022-10-01 10:35] KomalMMungekar commented on #1885
Hey @kamranahmedse, can I contribute to this issue? I'm a complete newbie to open source and I would like to kickstart my journey from this!

[2022-10-01 11:26] parth93QA commented on #1885
Created #1972 , let me know if it looks alright.

[2022-10-01 12:17] umadhatri commented on #1837
Hello @kamranahmedse! I would also like to be of help. Can I also work on this issue? Do let me know. Thank you in advance and cheers!

[2022-10-01 12:50] manishtambe commented on #1847
If this issue is still open can I contribute  ?

[2022-10-01 13:09] manishtambe opened #1976 "Roadmap to learn machine learning is not present can I add that ?"
I go through roadmaps but it seems machine learning roadmap is not present so I love to add that !

[2022-10-01 14:15] rahulraheja49 commented on #1839
I'm interested in working on this

[2022-10-01 18:44] joelsathi commented on #1837
Hi @kamranahmedse, I also would like to contribute. Can you please assign me to this project?

[2022-10-02 00:55] lingeshwaran05 commented on #1885
Hey I have updated DevOps roadmap , itself it contains links , Docs , YT videos , courses etc please check it out

[2022-10-02 01:55] Ryrden commented on #1838
Hello There, I want to work on this issue

[2022-10-02 04:43] Prashant-17-11 commented on #1838
Hello @kamranahmedse, I would like to work on this

[2022-10-02 05:26] subhash-iiitm commented on #1885
Created #1991 for Devops roadmap, Please take a look, let me know if it looks alright

[2022-10-02 05:52] satyampsoni commented on #1959
Hi, will you please assign this to me?

[2022-10-02 07:15] Rishabh044 commented on #1838
Hello @kamranahmedse, Allow me to contribute on this

[2022-10-02 07:33] RamitPahwa opened #1996 "RoadMap for SpringBoot."
I would love to add a roadmap for Spring boot developers.
Do let me know if this is something which interests others.

[2022-10-02 08:01] KomalMMungekar commented on #1840
created #1997 let me know if this looks alright.

[2022-10-02 10:00] KomalMMungekar commented on #1885
Tried to update the introductory part of Ruby for DevOps roadmap by creating #2001. Kindly check it out.

[2022-10-02 11:09] Daksh-964 commented on #1921
I have been on the front end for a long time. I have been through the journey of how to start from scratch. So I think I can contribute to providing a good roadmap for the developer. Please assign me this issue.

[2022-10-02 11:25] mkrg-capco opened #2004 "[Suggestion] Java Developer"
Imho putting testing at the end of the roadmap is wrong. It should be placed just after fundamentals. Maybe not all advanced topics like TDD, BDD, mutation testing etc, but basics like unit testing. Maybe split testing into basic of testing covering unit testing, mocking, maybe even TDD and advanced testing

[2022-10-02 11:39] GuyKh commented on #1839
I'll try to do some NodeJS stuff

[2022-10-02 11:57] SSHSRN opened #2008 "[FEATURE] Write article for async/await in nodejs roadmap"
I want to write the content for the async/await, which is a topic that comes under Asynchronous programming in node js roadmap.
I got to know that the content for the topic is not written yet as I was checking out the [website](https://roadmap.sh/nodejs).

Screenshots:
*
![image](https://user-images.githubusercontent.com/62781914/193452670-7091eb48-bb1c-40a4-a5cd-08b70e8f58d0.png)
*
![image](https

[2022-10-02 11:58] kamranahmedse commented on #2008
You can add the content by [following the contribution guidelines](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing.md#adding-content)

[2022-10-02 11:58] #2008 closed

[2022-10-02 12:13] 0x7EVEN opened #2009 "cybersecurity"
I would like to add roadmap for cybersecurity, CTF, and related stuff

[2022-10-02 13:03] yashbhanu opened #2018 "Data Science Roadmap"
Can add a Roadmap for Data Science

[2022-10-02 13:32] kamranahmedse commented on #2009
Have a look at the [contribution guide for new roadmaps](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing.md#new-roadmaps)

[2022-10-02 13:32] #2009 closed

[2022-10-02 13:33] kamranahmedse commented on #2018
It's in the pipeline -- I don't have a confirmed date for the launch, but it should eventually be there.

[2022-10-02 13:33] #2018 closed

[2022-10-02 13:34] kamranahmedse commented on #1996
Have a look at the [contribution guide for new roadmaps](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing.md#new-roadmaps)

[2022-10-02 13:34] #1996 closed

[2022-10-02 13:35] kamranahmedse commented on #1963
Have a look at the [contribution docs for new roadmaps](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing.md#new-roadmaps)

[2022-10-02 13:35] #1963 closed

[2022-10-02 13:37] kamranahmedse commented on #1976
Have a look at the [contribution docs for new roadmaps](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing.md#new-roadmaps)

[2022-10-02 13:37] #1976 closed

[2022-10-02 17:01] yashdev9274 commented on #1885
Hey @kamranahmedse I created #2036  for DevOps roadmap for Jenkins section. Please have a look and let me know if any changes needed.

[2022-10-02 17:03] Johnnyteck opened #2037 "Add pull request template"
Adding a pull request template would help contributors easily contribute to this project with precise and concise details and info

[2022-10-02 17:20] yashbhanu opened #2038 "Flutter Roadmap"
Can add content for flutter roadmap

[2022-10-02 17:53] deepankkartikey commented on #1839
@kamranahmedse Is this open to be picked up?

[2022-10-02 18:58] ethandpark commented on #1885
Created [2039](https://github.com/kamranahmedse/developer-roadmap/pull/2039) for DevOps roadmap about availability in the cloud. Let me know how it looks and/or if anything needs changing!

[2022-10-02 19:31] Olayanju-1234 commented on #1839
Hi @kamranahmedse , I worked on this and opened few PRs, please check it out

[2022-10-02 19:42] ethandpark commented on #1840
Created [2041](https://github.com/kamranahmedse/developer-roadmap/pull/2041), let me know if it looks alright/needs any changes!

[2022-10-02 20:31] parth93QA commented on #1885
Add content for iptables #1978 created please review

[2022-10-03 02:58] AAnakhe commented on #1837
Hello  @kamranahmedse, I  would like to work on this issue, thanks.

[2022-10-03 04:37] Arka90 commented on #1838
Can you please assign it to me

[2022-10-03 04:47] SSHSRN commented on #2008
#2057

[2022-10-03 06:24] yashdev9274 commented on #1838
just make the changes and send the PRs, @kamranahmedse will check whether it should get merged or not

[2022-10-03 06:31] bpires opened #2058 "Add Kyle Simpson's You Don't Know JS Yet (book series)"
Consider adding Kyle Simpson's [You Don't Know JS Yet (book series)](https://github.com/getify/You-Dont-Know-JS). I didn't find it on the roadmap and I believe it would be a great addition to the JavaScript-related roadmaps. It's a series of books diving deep into the core mechanisms of the JavaScript language and it's available freely on GitHub.

[2022-10-03 12:17] InquisitiveMe15 commented on #1667
Hello! @AlFahimBinFaruk I would like to work on this issue.
It will be helpful if you could elaborate a little more on this issue.
I checked the website, in the DataStructures tab of Java roadmap there was a list of three resources (geeks for geeks, javatpoint and a coursera one).
What precisely you want more?
You can assign this issue to me :)
Thank you!!

[2022-10-03 15:13] kuberaspeaking opened #2074 "Developer Advocate/ Evangelist Roadmap"
A career in Developer Relations is quite sought after. I can add content for a Developer Advocate / Developer Evangelist roadmap

[2022-10-03 15:27] kamranahmedse commented on #2074
Please have a look at the contribution docs for [helping with new roadmaps](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing.md#new-roadmaps)

[2022-10-03 15:27] #2074 closed

[2022-10-03 16:32] SSHSRN commented on #1839
Hey! @kamranahmedse , I submitted a Pull Request #2057. Kindly check it out!

[2022-10-03 17:08] kuberaspeaking opened #2077 "Add Developer Relations roadmap"
What roadmap is this issue about?

- [ ] Frontend Roadmap
- [ ] Backend Roadmap
- [ ] DevOps Roadmap
- [ ] All Roadmaps
- [x] None of the above

What is this issue about?

- [ ] Discussion for a pull request I would want to open.
- [x] Addition of a new item
- [ ] Removal of some existing item
- [ ] Changing in arrangement
- [ ] General suggestion
- [ ] Sharing an Idea
- [ ] Something else

Please

[2022-10-03 17:56] ojasaklechayt commented on #1837
Hello!! I would like to contribute to this issue.

[2022-10-03 19:58] GetIbetsamAhmed commented on #1847
https://github.com/kamranahmedse/developer-roadmap/pull/2087

[2022-10-04 02:53] Vanshiii203 opened #2095 "Adding a contribution guide"
I would like to add a contribution gudie to contribution.md for new contributors

[2022-10-04 06:54] haseeb-xd commented on #1837
I have made my PRs , but why aren't they merging

[2022-10-04 10:54] GetIbetsamAhmed commented on #1847
Added Angular state management and life cycle content to angular roadmap https://github.com/kamranahmedse/developer-roadmap/pull/2102

[2022-10-04 11:11] GetIbetsamAhmed commented on #1847
Added Angular state management and life cycle content to angular roadmap -  https://github.com/kamranahmedse/developer-roadmap/pull/2102

[2022-10-04 12:07] BBeknazar opened #2106 "[Suggestion] Frontend Developer"

[2022-10-04 12:32] GetIbetsamAhmed commented on #1847
Add content to Dependency Injection in angular roadmap - https://github.com/kamranahmedse/developer-roadmap/pull/2107

[2022-10-04 13:55] ChuckD3ath commented on #1840
Already working on this for a week now! :)

[2022-10-04 14:40] abiyyu03 opened #2112 "Bug in JavaScript Roadmap"
In [javascript roadmap](https://roadmap.sh/javascript), there is a small bug here. In the 'using this keyword' section, each content cannot be clicked. I hope this is fixed soon
![image](https://user-images.githubusercontent.com/60283562/193848038-7bd77bdf-fbfe-4b00-8577-f2bb97cf150c.png)

[2022-10-04 17:00] jerryephicacy opened #2116 "[Suggestion] Software Architect"
Hi @kamranahmedse ,

1) Do you think Data structures / Algorithms would be important for this role?
2) In the Web/Mobile section, can we elaborate a little more like what tech stack would be required for mobile?
3) Can we also expand the Cloud Providers section and also include the related certifications?

Thank you.

[2022-10-04 17:06] Man07har commented on #1847
Please Assign it to me would love to contribute.

[2022-10-04 17:09] Man07har commented on #1839
Hey assign it me would like to love to work on this

[2022-10-04 17:10] Man07har commented on #1879
Would like to work on this assign it to me

[2022-10-04 17:11] ojasaklechayt commented on #1879
Hello!! I would like to work on this issue.

[2022-10-04 17:17] KodeyThomas commented on #1879
@ anyone who is commenting on this :)

Just open up PRs and they will be reviewed in due course (p.s happy hacktoberfest)

[2022-10-04 17:20] KodeyThomas commented on #2077
This would be awesome!

It's such an underlooked aspect of the industry a roadmap would make a lot of sense for people who've heard about it but have no clue where to start

[2022-10-04 18:02] shrirajpawar4 commented on #2077
Hey @kuberaspeaking, do you mind if I help you with this Dev Rel roadmap?

[2022-10-04 19:30] kuberaspeaking commented on #2077
if the author @kamranahmedse is okay with it, i'd be happy to work with @shrirajpawar4 on this issue.

[2022-10-04 19:42] GetIbetsamAhmed commented on #1847
Add content to Angular CLI in angular roadmap  - https://github.com/kamranahmedse/developer-roadmap/pull/2131

[2022-10-04 21:35] puru-khedre commented on #1838
#2132

[2022-10-04 22:27] FercueNat commented on #1840
Hello! I just added information to the QA Sdlc node :) Will wait for review on the PR :)

[2022-10-04 22:35] ChuckD3ath commented on #1840
@FercueNat I already have that one open :/ #1940

[2022-10-04 22:46] FercueNat commented on #1840
Oh man, just checked it and you indeed have a PR open, my bad :( Maybe once yours is merged I can add my own changes as well, as I saw that I left a bit more of info. Thanks for the heads up!

[2022-10-04 23:41] rein0217a commented on #1696
↑ @kamranahmedse

[2022-10-05 00:12] QAInsights opened #2137 "[Suggestion] To remove the term `Non-Functional` in QA Roadmap"
**Rationale**

QA professionals, especially those working in `Performance Engineering and Testing` negates the term `Non-Functional`. The rationale behind is: the term `performance` is `functional` for any application. Similarly for [`Accessbility Testing`](https://web.dev/accessible/), [`Security Testing`](https://owasp.org/www-project-top-ten/), and more.

![image](https://user-images.githubuser

[2022-10-05 00:35] adityapathakk commented on #1885
Hello, I can add content for 'vmstat'. Kindly assign me the issue!

[2022-10-05 01:04] kamranahmedse commented on #2137
Thank you for the suggestion but the roadmap was reviewed by several subject matter experts before publishing and no-one pointed that out. However, I will leave the issue open for now for people to vote to decide if this change should go in the roadmap or not.

[2022-10-05 04:07] sumitbaroniya commented on #1838
Please assign me this issue.

[2022-10-05 05:24] Yaminyam opened #2147 "[Suggestion] Classification of orm and odm of nodejs roadmap"
The database chapter of nodejs roadmap is divided into document and relational.
I think this means ORM and ODM.
The reason that prisma is included in the current document chapter is probably because prisma supports mongoDB.
However, according to the description of prisma's official website, prisma is referred to as orm.
If it exists in the document chapter because it supports nosql, typeorm also s

[2022-10-05 05:48] SurabhiSuresh22 opened #2149 "[Suggestion] Create React App Command"
The command to initialise a react app could be added <a href='https://github.com/kamranahmedse/developer-roadmap/blob/master/content/roadmaps/103-react/content/100-react-fundamental-topics/100-create-react-app.md'>here</a>.  This describes Create React Appas CLI based tool and way to start building a new single-page application in React. But I think it would be also great to added with what comman

[2022-10-05 05:49] SurabhiSuresh22 commented on #2149
Hi @kamranahmedse,
please do have a look and let me know if I can work on this issue.

[2022-10-05 06:37] Nirzak commented on #1765
Hu databases are not handled by devops. This is handled by DBA teams.

[2022-10-05 08:20] gitaroktato commented on #1879
Hey @kamranahmedse opened a PR for this one in #2154

[2022-10-05 08:55] kevinesg opened #2156 "[Suggestion] Android Developer Roadmap"
I'm still learning, and I notice that View Models isn't included in the Android Dev Roadmap. If this is a conscious decision, may I ask why? Thanks.

[2022-10-05 10:15] Aryan-Bhatt-pro commented on #2112
Hello, can I work on the issue?

[2022-10-05 11:50] ducheharsh opened #2167 "Add a DevRel ( Developer Relations ) Roadmap"
Developer Relations, or DevRel, is an umbrella term that refers to strategies and techniques for fostering connections between businesses and developers (such as software developers), who are a product's primary users and frequently its purchasers, in a way that is mutually beneficial.

[2022-10-05 11:53] GetIbetsamAhmed commented on #1847
**Add content to render block in angular roadmap**  - https://github.com/kamranahmedse/developer-roadmap/pull/2168

[2022-10-05 11:56] #2167 closed

[2022-10-05 12:32] #1755 closed

[2022-10-05 12:47] kamranahmedse commented on #1534
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-10-05 12:47] #1534 closed

[2022-10-05 12:48] kamranahmedse commented on #710
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-10-05 12:48] #710 closed

[2022-10-05 13:59] QAInsights commented on #2137
Thanks @kamranahmedse. The term "Non-Functional" has been used for many years. Many online forums and blogs still quote "Non-Functional". As you mentioned, let us wait for the votes.

[2022-10-05 15:25] eldaduzman commented on #2137
I think @QAInsights is spot on.

The distinction between 'functional' and 'non-functional' requirements is for the most part arbitrary.

[2022-10-05 16:28] MarkShmurm opened #2185 "[Suggestion] Frontend Developer"
Add remix.js to static site generators and SSR

[2022-10-05 16:38] perfsid commented on #2137
yes, the change jas to be done ...Agree with you ...Extra-Functional.

I Have another proposed word like **Operational Requirements** how abt that ..?

[2022-10-05 18:02] jeffercbs commented on #1879
Hello, I am new to open source. I just made a pull request #2186. I hope I have made a good contribution.

[2022-10-05 20:29] DhirajsGithub commented on #1684
Javascript

[2022-10-06 00:50] tanvi1110 commented on #2137
I too agree to replace the word non-functional with extra functional  since requirement for the system to be non functional under a certain condition is the right interpretation of it according to me.

[2022-10-06 01:27] QAInsights commented on #2137
@tanvi1110 thanks for your inputs, please upvote [here](https://github.com/kamranahmedse/developer-roadmap/issues/2137#issue-1396996949)

[2022-10-06 06:51] tanvi1110 commented on #1836
Hello, would like to contribute.

[2022-10-06 06:52] tanvi1110 commented on #1837
Hola, would love to contribute.

[2022-10-06 06:54] tanvi1110 commented on #1885
Hey, I checked out the repo, there is some typo which I already sorted out, just want to merge.

[2022-10-06 07:15] ishratUmar18 commented on #1847
I would love to contribute.

[2022-10-06 07:22] ishratUmar18 commented on #1838
Can I work on this one?

[2022-10-06 08:39] gitg4ry opened #2202 "[Suggestion] QA Engineer"
**Testing Techniques:** https://www.elprocus.com/what-are-testing-techniques-types-advantages-disadvantages/

**Mobile Automation testing:** I would likely use "BrowserStack" as a good resource / industry standard tool. or another good resource is the following: https://www.softwaretestinghelp.com/beginners-guide-to-mobile-application-testing/

**Security Testing:** I think the best resource for t

[2022-10-06 09:58] Dauka03 commented on #1837
Hello!! I would like to contribute to this issue.

[2022-10-06 12:50] PanSem commented on #1840
Add management and monitoring node #2212

[2022-10-06 13:13] santoshvijapure commented on #2185
@MarkShmurm Can I pick this?

[2022-10-06 13:50] MarkShmurm commented on #2185
yes please

[2022-10-06 13:59] santoshvijapure commented on #2185
ok sure

[2022-10-06 15:08] kamranahmedse commented on #2137
@QAInsights your recommendation was reviewed by the contributors; while it does seem reasonable, the widely known term _is_ "Non-Functional" and we don't want to change it and confuse the beginners. Feel free to help [add the content under the node instead](https://github.com/kamranahmedse/developer-roadmap/blob/master/content/roadmaps/113-qa/content/100-qa-basics/107-testing-techniques/101-non-fu

[2022-10-06 15:08] #2137 closed

[2022-10-06 17:05] RamitPahwa opened #2214 "RoadMap for Sprint Boot"
- Introduction to Java
   - Compilation
   - Variable and User Input
   - Simple Math and Logic
   - Strings
   - Conditional Statements
   - Loops
   - Methods
   - Arrays
   - Class and Inheritance
   - Generics
   - ArrayLists
   - HashMap/ HashSet
- What is Spring?
   - Terminology
   - Spring Architecture
   - Reasons for sustained popularity
- Spring Basics
   - Dependency
   - Decoupling Co

[2022-10-06 17:27] MichaelVini opened #2217 "[documentation] add link to official website and official docs for daisyUI"
In front-end roadmap there isn't link to official website and official docs for daisyUI

[2022-10-06 17:30] QAInsights commented on #2137
@kamranahmedse I understand your point.

This is exactly what I want to change. The beginners needs to understand the exact meaning of other types of testing. They should not literally under the term "Non-Functional".

[2022-10-06 17:54] MichaelVini commented on #2217
https://github.com/kamranahmedse/developer-roadmap/pull/2221

[2022-10-06 17:57] sudarsan2k5 commented on #1837
Hi, I would like to contribute to this issue.

[2022-10-06 18:02] sudarsan2k5 commented on #1847
Hello!! I would like to contribute to this issue.

[2022-10-06 18:04] sudarsan2k5 commented on #1838
Hello, would like to contribute.

[2022-10-06 18:05] sudarsan2k5 commented on #1839
Hi, I'm interested in working on this.

[2022-10-06 18:43] dmartin-isp opened #2224 "[Suggestion] DevOps Roadmap"
I feel like this roadmap is a bit out of date.  A lot of these early-mid skills are things I rarely ever use anymore.  Who uses strace or tcpdump anymore?  Everything is so dockerized and kubernetesified that we just blow up and rebuild everything so quickly, we don't really dive deep into the minutia of how stuff works or fails as much as we just build things out and try stuff until it works or d

[2022-10-06 20:17] abdulbari149 commented on #1839
Hello, I am interested in working on this. I am going to add caching in the nodejs roadmap

[2022-10-07 02:22] Platiplus commented on #1839
I'll make a contribution as well!

[2022-10-07 02:23] brantheeman opened #2231 "[Suggestion] Laravel Road Map"

[2022-10-07 02:41] brantheeman commented on #2231
@kamranahmedse For the author section of the meta.json do I replace my name with yours? or should I leave yours and add my name?

[2022-10-07 03:12] nairpranav331 commented on #1836
Hello! I would like to contribute to it! Thanks.

[2022-10-07 06:32] kamranahmedse commented on #2231
@brantheeman have a look at the [contribution docs for adding new roadmaps please.](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing.md#new-roadmaps)

[2022-10-07 06:32] #2231 closed

[2022-10-07 06:33] #2217 closed

[2022-10-07 07:51] yashbhanu opened #2238 "SQL Roadmap"
Can add Roadmap for SQL and NoSQL

[2022-10-07 07:52] atharvagarwal commented on #2112
can i work on this issue?

[2022-10-07 07:53] yashbhanu opened #2239 "System Design Roadmap"
Can add roadmap for low level system design and high level system design

[2022-10-07 11:36] kamranahmedse commented on #2185
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-10-07 11:36] #2185 closed

[2022-10-07 11:38] kamranahmedse commented on #2058
Feel free to open a PR. Here are the [details on how to add that](https://github.com/kamranahmedse/developer-roadmap/blob/master/contributing.md).

[2022-10-07 11:38] #2058 closed

[2022-10-07 11:55] deevanshu-k commented on #1847
Hello I would like to contribute, Is their any issue for me

[2022-10-07 12:22] MohammadRehanPatel opened #2241 "Flutter RoadMap"
Please give me chance for PR  with Hacktoberfest Badge

[2022-10-07 12:47] shroominic opened #2243 "[Suggestion] Python Developer"
I just want to add some important stuff you need to learn in the "Advanced" field of python.

[ ... ]

3. Advanced Topics
- List comprehensions [read](https://www.w3schools.com/python/python_lists_comprehension.asp)
- Generator expressions [read](https://www.pythontutorial.net/advanced-python/python-generator-expressions/)
- Paradigms in Python [read](https://www.geeksforgeeks.org/programming-para

[2022-10-07 12:50] KnightlLORD commented on #1836
Hi @kamranahmedse I would like to work on this issue, please assign this issue to me.

[2022-10-07 12:57] KnightlLORD commented on #1838
Hello @kamranahmedse , I would like to work on this.

[2022-10-07 14:50] dhruvasagar commented on #1885
Created #2247 for documentation of du, df and dtrace

[2022-10-07 16:29] rishi-kai21 commented on #1837
Hey, @kamranahmedse  if this issue needs further changes  I would love to work on it . Please assign me this issue if it needs improvements

[2022-10-07 16:56] Mudaasirl opened #2250 "-+14Suggestion] Frontend Developer"

[2022-10-07 16:56] Mudaasirl opened #2251 "-+-14Suggestion] Frontend Developer*"

[2022-10-07 17:04] deevanshu-k commented on #1839
hello Sir,
I would like to contribute to this file  **107-nodejs-apis/101-express-js.md**

[2022-10-07 17:09] ankan792 commented on #1885
Hey @kamranahmedse, I created #2252 for adding the description in CI/CD. Let me know if it's alright. Thanks!

[2022-10-07 21:30] tanvi1110 commented on #1839
@kamranahmedse [updated content to threads nodejs roadmap](https://github.com/kamranahmedse/developer-roadmap/pull/2246)

[2022-10-08 04:52] MohammadRehanPatel opened #2266 "[Suggestion] To add Flutter RoadMap"
I have Roadmap of Flutter. so Assign me this with Hactoberfest Badge

[2022-10-08 07:31] Yashrajput7232 commented on #2224
Yes DEVOPS updated road map should be a part of this  repo and it should involve docker and kubernities.

[2022-10-08 08:18] TryToLearnProgramming opened #2269 "Create a LEMP using Docker"
Create a directory name Docker/LEMP
Added all necessary files to create a LEMP using Docker ( can use docker-compose.yaml)

[2022-10-08 08:18] TryToLearnProgramming commented on #2269
Can I do this?

[2022-10-08 11:46] Satakshijain commented on #1837
Hello @kamranahmedse I would like to contribute to this

[2022-10-08 13:17] kamranahmedse commented on #1837
Hey guys, no need to comment here. Just go and find out the empty nodes in roadmap and submit the pull requests.

[2022-10-08 13:45] Anu-Ra-g commented on #2243
What should be the PR about?

[2022-10-08 14:53] MrCode00 opened #2282 "RoadMap for Game Developer"
Could you please add Roadmap for game Developer.

[2022-10-08 16:23] ari0211 commented on #1885
Hey @kamranahmedse  , I created https://github.com/kamranahmedse/developer-roadmap/pull/2288 for adding the description in CI/CD tool Drone. Please check and let me know. Thanks!

[2022-10-08 17:21] hasnainmakada-99 opened #2289 "Add greetings workflow to greet new contributors when they raise A PR OR CREATE AN ISSUE"
I would like to integrate `greetings.yml` action workflow in this project so that whenever any new contributor raises their PR or creates a new issue they should be greeted

I would like to request the maintainers to label this issue as hacktoberfest as I am contributing to this issue as a part of the hacktoberfest.

😄

[2022-10-08 17:29] ozansz commented on #1836
Hi @kamranahmedse, I would like to contribute to this issue

[2022-10-08 17:52] c1phani1simha commented on #1839
@kamranahmedse I am interested in contributing for this RoadMap

[2022-10-08 18:17] c1phani1simha commented on #1839
@kamranahmedse I made a pull request #2294 please check it out.

[2022-10-08 19:15] c1phani1simha commented on #1838
Hello @kamranahmedse, I made a pull request #2299 please check it out!

[2022-10-08 19:31] c1phani1simha commented on #1847
Hello @kamranahmedse, I made a pull request #2300 please check it out!

[2022-10-08 19:40] c1phani1simha commented on #1847
Please check this pull request also #2301

[2022-10-09 00:15] kamranahmedse commented on #2289
I don't think there is a need for that. Thank you for the suggestion though!

[2022-10-09 00:15] #2289 closed

[2022-10-09 01:07] mughalmuneeb786 commented on #2243
I want to add roadmap extend with Python as Web Application Developer with Django or other related platforms and Rest API and also contribute in Hacktoberfest.

[2022-10-09 05:31] c1phani1simha commented on #1847
Hello @kamranahmedse, I made the addition of content to readme.md file, please check this #2320 pull request!

[2022-10-09 05:43] c1phani1simha commented on #1847
I added the content to readme.md file, please check this pull request #2321

[2022-10-09 05:49] MohammadRehanPatel opened #2322 "Assign me to add Flutter Roadmap"
assign me with Hacktoberfest tag please

[2022-10-09 05:54] Sonali314 commented on #1909
hey i would like to work on this issue kindly assign me this work and let me know what i need to do

[2022-10-09 06:19] c1phani1simha commented on #1847
@kamranahmedse , I added the content to the readme.md file of 114-angular ssg, please check this pull request #2323

[2022-10-09 06:41] pavilandoangelo commented on #1838
Hi @kamranahmedse , could I work on this one? Planning to contribute. Thanks a lot!

[2022-10-09 06:55] shivam1646 commented on #1847
Hi  @kamranahmedse I have added content for Angular template nodes and resolved conflicts too. Please check  PR #2281

[2022-10-09 08:20] ArpitKRS commented on #2282
Can I do this??

[2022-10-09 08:21] ArpitKRS commented on #2224
Can I do this??

[2022-10-09 08:21] ArpitKRS commented on #2266
Can I do this??

[2022-10-09 12:43] pranavhole commented on #1885
hey @kamranahmedse , I want to contribute

[2022-10-09 12:44] pranavhole commented on #1839
hello , I can work on this??

[2022-10-09 12:45] pranavhole commented on #1838
Hey I will love to help you on this

[2022-10-09 14:45] shivam1646 commented on #1879
Hi @kamranahmedse I have added content for web and mobile nodes. Please check PR #2326

[2022-10-09 15:51] c1phani1simha commented on #1840
Hello @kamranahmedse, I added the content to the readme.md file, please check this PR #2339

[2022-10-09 16:09] shokushwaha commented on #1909
Hello sir , I would like to work on this project please assign me this work and let me know anything special you want on this project.

[2022-10-09 16:11] shokushwaha commented on #1838
Hello  sir, I would love to work on this project. Planning to contribute . I have an awesome idea regarding this.

[2022-10-09 16:16] c1phani1simha commented on #1840
@kamranahmedse, added content to the readme.md file. Please check this PR #2343

[2022-10-09 16:17] Dronacharyatople opened #2344 "Roadmap for Web development"

[2022-10-09 16:37] c1phani1simha commented on #1847
@kamranahmedse, I added the content to the readme.md file of 115-angular-testing folder, Please look into this PR #2345

[2022-10-09 16:46] ChuckD3ath commented on #1840
@c1phani1simha excuse me but you don't need to comment here with your PRs. He will get to it whenever he gets some time as there are over 90 Pull Requests open at the moment.

[2022-10-09 18:57] PiyushAryan commented on #2344
Hello Sir!

Please Assign me this issue as I have a roadmap of Web development as I have done the web development few months ago
So, I can resolve this issue.

@Dronacharyatople @kamranahmedse

[2022-10-09 19:01] jha-om commented on #2344
Hi!
Can U Assign this issue to me?

[2022-10-09 19:02] parthapaul7 opened #2351 "Top Youtube link bar is non-removable by user"
The top youtube link bar is a bit annoying because you can not remove it
There should a close button to remove the top bar

![image](https://user-images.githubusercontent.com/83518670/194774857-52dd5ac2-6b73-4d2e-9036-d02fb310e366.png)

[2022-10-09 19:31] astitva0011 commented on #1837
!assign

[2022-10-09 21:09] KaivalyaVanguri opened #2355 "[Roadmap Request] for Solana"
Hello! Kaivalya here! I am interested and eagerly looking forward to create a roadmap for Solana.

[2022-10-10 06:49] chickenCHRISpy opened #2357 "[Roadmap Request] for React-Native"
React native is a very popular mobile development framework for creating user interfaces for IOS and Android devices.
Hence I am really interested in contributing to this project by creating a subtle and straightforward roadmap for developers to get started with React Native.

[2022-10-10 09:01] heyvats21 opened #2358 "Want to add more learning links in Hoisting section"
I want to add more learning resources in it to help developers to understand it more deeply.

![image](https://user-images.githubusercontent.com/81029204/194831447-534d6a0e-be68-46d0-9314-011ee1c064a4.png)

please assign me under hacktoberfest .

[2022-10-10 10:18] kuberaspeaking commented on #2077
@kamranahmedse can you assign this issue to me for hacktoberfest ?

[2022-10-10 16:21] Olayanju-1234 commented on #1839
https://github.com/kamranahmedse/developer-roadmap/pull/2362

Please check this out @kamranahmedse

[2022-10-10 18:30] chickenCHRISpy commented on #2357
Oh, my bad. Regards.

[2022-10-10 18:34] chickenCHRISpy opened #2381 "[Roadmap Request] for Computer Networks"
There are several fundamentals in our complex IT systems, and one of the biggest is computer networking, as it links together all our computers together, allowing quick and efficient information sharing and receiving. Hence interested in creating a straightforward and clear roadmap for students or even professionals for understanding this core concept of computer networks.

[2022-10-11 06:08] souravsasmal01 commented on #2224
Hey there, can you assign this issue to me?

[2022-10-11 11:09] ragu-1997 opened #2389 "Full stock Road map"
Hi team,

Please create the fillstack roadmap

[2022-10-11 11:47] MohammadRehanPatel opened #2391 "add Flutter Road map png file"
assign me to add this with Hacktoberfest tag

[2022-10-11 12:32] Anika-Roy commented on #1838
Hi! Im participating in Hacktoberfest and I'd like to know if this issue is counted in Hacktoberfest and if I can work on it?

[2022-10-11 12:32] Anika-Roy commented on #1839
Hi! Im participating in Hacktoberfest and I'd like to know if this issue is counted in Hacktoberfest and if I can work on it?

[2022-10-11 12:32] Anika-Roy commented on #1885
Hi! Im participating in Hacktoberfest and I'd like to know if this issue is counted in Hacktoberfest and if I can work on it?

[2022-10-11 12:32] Anika-Roy commented on #1879
Hi! Im participating in Hacktoberfest and I'd like to know if this issue is counted in Hacktoberfest and if I can work on it?

[2022-10-11 12:34] shokushwaha commented on #1838
I want to work in this project.

On Tue, 11 Oct, 2022, 6:02 pm Anika-Roy, ***@***.***> wrote:

[2022-10-11 13:17] psantosh16 opened #2404 "Add content to playwright Node.Js library"
# I will like to add Content for playwright library for testing apps  such as :

#### 1. Official web site
#### 2. Useful docs
#### 3. Video Tutorials

@kamranahmedse

Assign me this issue , and then I will start working on it asap .

Thank you.

[2022-10-11 14:13] sameer1612 commented on #1879
I am contributing to this repository for the first time. @kamranahmedse are nurturing a good knowledge base. Kudos!

I have added an explanation for the CICD section. https://github.com/kamranahmedse/developer-roadmap/pull/2408

I'll add more content in s/w architecture during weekends. Will be happy to pick NextJS related issues in website if any. 🤝

[2022-10-11 19:00] rishi-kai21 commented on #1837
@kamranahmedse please review my pr whenever you get some time off and let me know of things I can add upon .

[2022-10-11 21:40] kamranahmedse commented on #2351
Thank you for the issue but we are actively working on the [next version of roadmap.sh](https://next.roadmap.sh/) so there is no need to implement this for now. Thanks for opening the issue though!

[2022-10-11 21:40] #2351 closed

[2022-10-11 22:04] #1847 closed

[2022-10-11 23:30] Skyinto opened #2421 "[Suggestion] JavaScript Roadmap"
Do you know where ASYNCH FETCH API is located? If not, then can you please included it.  Great roadmap though, definitely will try it!

[2022-10-12 07:08] iamkunalkeshav commented on #2391
Can you please assign me to add Flutter Road Map png file?

[2022-10-12 07:52] Prachi257 commented on #2421
Can I add?

[2022-10-12 08:02] Prachi257 commented on #1909
Hey! anything can I do for this project?

[2022-10-12 09:40] CodeWithUma commented on #1847
Hi @kamranahmedse. There are some contents left in this roadmap. I have raised a PR https://github.com/kamranahmedse/developer-roadmap/pull/2428 . Please kindly review it and merge it by labeling it as "HACTOBERFEST-ACCEPTED".

[2022-10-12 11:49] #1879 closed

[2022-10-12 13:21] Naveen-Karanamu commented on #1839
Hello sir, may you please assign this token to me. I would love to contribute in this. Thank you.

[2022-10-12 13:27] Naveen-Karanamu commented on #1838
Hello sir, may you please assign this token to me. I would love to contribute in this. Thank you.

[2022-10-12 14:18] kamranahmedse commented on #2421
This has been fixed and will be published in the coming release. Thank you 🙏

[2022-10-12 14:18] #2421 closed

[2022-10-12 14:32] chaitanyasai321 opened #2438 "I want to add Search Algorithms in Python"
Search algorithms in python are missing in the roadmap of python, so I want to contribute on them.

[2022-10-12 14:45] rmallah opened #2440 "[Suggestion] Backend Developer"
I want to Add Perl roadmap.
Can i add?

[2022-10-12 17:24] to-program-khushi-jain commented on #1837
Can I contribute to this issue?@kamranahmedse

[2022-10-12 20:58] Aritro2610 commented on #1839
Hello, I want to contribute to [110-nodejs-databases](https://github.com/kamranahmedse/developer-roadmap/tree/master/content/roadmaps/107-nodejs/content/110-nodejs-databases).  Kindly assign this to me

[2022-10-12 23:54] codegustavo42 commented on #1947
Studying about Internet, the box about hosting doesn't have links to articles, so I did a search and found an article by Hostinger which by the way is an excellent article about Web Hosting.
Here's my suggestion to add with article.
https://www.hostinger.com/tutorials/what-is-web-hosting/''

[2022-10-13 01:16] Delmiro-Ribeiro opened #2455 "[acessibilidade] Java Developer"
Hello, although the roadmap is exceptional, I did not find any links attached that would direct the student to accessible sites, sites with audio books to teach blind people or videos with sign language translators that could help people with hearing impairments to learn to program.
Thanks in advance.

[2022-10-13 05:02] sujoy-kr opened #2457 "[Suggestion] Frontend Developer"
Add Svelte, Sveltekit in server side rendering.

[2022-10-13 05:30] YasaswiniGanne opened #2458 "[Suggestion] Microservices RoadMap"

[2022-10-13 05:36] YasaswiniGanne commented on #2458
Why Microservices -
https://medium.com/hashmapinc/the-what-why-and-how-of-a-microservices-architecture-4179579423a9
https://www.geeksforgeeks.org/monolithic-vs-microservices-architecture/
Spring Boot Microservices -
https://www.javadevjournal.com/spring-boot/microservices-with-spring-boot/

Design Patterns -
https://dzone.com/articles/design-patterns-for-microservices#:~:text=Microservices%20Desig

[2022-10-13 06:31] kunna67 commented on #2455
Hello  I would like to work on this. Can I be assigned to this

[2022-10-13 10:40] astitva0011 commented on #1943
they'll also ask you to add the Website's URL from where you've retrieved data for the particular issue.

[2022-10-13 10:41] astitva0011 commented on #1943
they'll also gonna ask you to add the Website's URL from where you've retrieved data for the particular issue.

[2022-10-13 10:44] johnwinifred commented on #1838
Please can I also work on this

[2022-10-13 11:48] lakshmimaurya commented on #2457
could you please assign this to me

[2022-10-13 11:55] JP-GECT commented on #1838
Hello Sir,
I would like to contribute towards this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-13 12:14] blackPeppper opened #2471 "[Suggestion] Frontend Developer"
TEST vitest

[2022-10-13 13:38] Delmiro-Ribeiro commented on #2455
It will be a pleasure to be able to collaborate, yes I accept

On Thu, Oct 13, 2022 at 3:32 AM KUNNAL BANSAL ***@***.***>
wrote:

[2022-10-13 13:58] kamranahmedse commented on #2112
This has been fixed. Thank you!

[2022-10-13 13:58] #2112 closed

[2022-10-13 15:09] kamranahmedse commented on #2077
@kuberaspeaking @shrirajpawar4 go ahead please. Feel free to extend the textual roadmap with how you envision it to be and we will get it converted to the visual format.

[2022-10-13 18:35] being-nitin commented on #2457
could you please assign this to me .

[2022-10-13 19:42] yrhemendra commented on #1840
Sir Can i contribute to resolve this issue?

[2022-10-13 22:05] being-nitin commented on #1947
could you assign m e this task?

[2022-10-14 04:55] SaurabhBudhwani26 commented on #1838
Hello Sir,
I would love to work on this, can you assign this to me?

[2022-10-14 08:00] being-nitin commented on #2116
could you assign this task to me

[2022-10-14 12:29] Delebrith commented on #1061
I'll gladly make a contribution to update the roadmap 😊

[2022-10-14 16:26] sameer1612 commented on #1838
@kamranahmedse Added content for fetch and XMLHttpRequest in javascript track. Please, merge it.

https://github.com/kamranahmedse/developer-roadmap/pull/2503

[2022-10-15 00:38] laverstation opened #2511 "[Suggestion] Blockchain Developer"
1. Add [Re - Entrancy Attack](https://www.certik.com/resources/blog/3K7ZUAKpOr1GW75J2i0VHh-what-is-a-reentracy-attack)

2. Add CTF on Blockchain like [Ethernaut](https://ethernaut.openzeppelin.com/), [Damn Vulnerability Defi](https://www.damnvulnerabledefi.xyz/) and [Capture The Ether](https://capturetheether.com/)

3. Add Smart Contract Audit like [Certik](https://www.certik.com/) and [hackenproo

[2022-10-15 12:18] ArnabNath1 opened #2531 "Add PHP roadmap"
I can make the PHP roadmap. Can you please assign me this issue?

[2022-10-15 13:37] kamranahmedse commented on #2531
Have a look at the contribution docs for new roadmaps.

[2022-10-15 13:37] #2531 closed

[2022-10-15 16:12] codewithronak13 opened #2533 "add website name"
javascript30.com

[2022-10-15 16:27] omkute commented on #2533
Hey can you give me more info,I am interested.

[2022-10-15 16:28] codewithronak13 commented on #2533
About What !!

About javascript30 website or anything else ?

On Sat, 15 Oct, 2022, 9:57 pm omkute, ***@***.***> wrote:

[2022-10-15 16:40] omkute commented on #2533
About where to add the website name and about javascript30 website also

[2022-10-15 16:43] omkute commented on #2214
@RamitPahwa  I am interested in contributing in this project can you please assign me

[2022-10-15 16:51] codewithronak13 commented on #2533
Hey Sorry To say But Actually I'm Beginner I was Just trying how to Add
Something in GitHub.. so I just put it in repository...!

On Sat, 15 Oct, 2022, 10:10 pm omkute, ***@***.***> wrote:

[2022-10-15 16:53] omkute commented on #2533
oh its okay are you closing this issue?

[2022-10-15 17:07] codewithronak13 commented on #2533
No, I'm not.

On Sat, 15 Oct, 2022, 10:23 pm omkute, ***@***.***> wrote:

[2022-10-15 17:08] codewithronak13 commented on #2533
No... I'll put As it is

On Sat, 15 Oct, 2022, 10:23 pm omkute, ***@***.***> wrote:

[2022-10-15 21:58] crescentpartha opened #2542 "Add contents of DBMS-RoadMap"
Add contents of `DBMS-RoadMap`

[2022-10-16 06:10] Zaid-Parkar commented on #1838
Hello Sir,
I would like to contribute towards this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:10] Zaid-Parkar commented on #1885
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:10] Zaid-Parkar commented on #1840
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:10] Zaid-Parkar commented on #1839
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:11] Zaid-Parkar commented on #1838
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:11] Zaid-Parkar commented on #1837
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:11] Zaid-Parkar commented on #1836
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 11:01] varunjvk opened #2556 "unable to zoom"
I am unable to zoom the page to see the details of roadmap clearly in my mobile browser

[2022-10-16 13:01] pdurbin commented on #888
I completely agree. It would be fantastic to have Web Components as a first class option under "Skill Based" next to React, Angular, Vue, etc.

Since this issue was opened, Web Components was at least added to https://roadmap.sh/frontend with contributions by @kamranahmedse @aroyan and @GuilloSGit in PRs such as these:

- #1412
- #1413
- #1414
- #1587

Here's how it looks right now:

<img width="6

[2022-10-16 13:21] shroominic commented on #2243
@mughalmuneeb786 Where do you want to add these points? Or do you mean something different?

[2022-10-16 13:45] sarsey-walker opened #2559 "[Suggestion] Angular Developer, Observable Pattern"
Its just a Article's sugest

I think it article would be more suitable, at least as a complement

`https://www.freecodecamp.org/news/what-are-observables-how-they-are-different-from-promises/`

[2022-10-16 17:11] numanuddin1 opened #2564 "Flutter Developer"
I want to add roadmap for flutter developer

[2022-10-17 02:39] CodeWAdi commented on #2556
kindly share the screenshot of the problem and  the name of it

[2022-10-17 06:31] kamranahmedse commented on #2542
Textual version listed below:

- Introduction
  - What is a Database?
  - What is DBMS?
  - Why do we need DBMS?
  - File management system vs DBMS
  - What is Database Admin & its Functions?
  - Database Tier-2/Tier-3 Architecture
  - Database Languages
    - DCL
    - DDL
    - DML
    - TCL
  - Imp Terms
    - Instance
    - Schema
    - Sub-Schema
  - How DBMS is implemented?
  - What is Data

[2022-10-17 08:05] AyushRaghuvanshi commented on #2564
Hi, I would like to work on this as well, because I feel Flutter is also a skill based techstack, and it should be there.

[2022-10-17 09:43] jaydeepkarale opened #2577 "[Suggestion] Add Rancher to DevOps Roadmap"
1. Rancher is another option available in the container world
2. Rancher Desktop is also seen as an option to Docker Desktop

[Reference link for docker vs rancher comparison](https://stackshare.io/stackups/docker-vs-rancher)

[2022-10-17 14:00] OyinOlamide commented on #2533
What or where should the website name be added?

[2022-10-17 15:15] varunjvk commented on #2556
https://user-images.githubusercontent.com/97157497/196215026-5bc4883f-6ffb-47b0-99b5-2dd08052bbee.mp4

kindly check this out you will find what's the issue is.

[2022-10-17 17:12] Rasika020 commented on #1837
Hello, I want to contribute on this issue. I have experience of using java for 3 years now hence I want to contribute here, Thank you.

[2022-10-17 17:14] Rasika020 commented on #1667
Hello, I want to work on this issue. I will be able to solve this issue more precisely and can give the best solution for this. Thank you.

[2022-10-17 21:18] ramosisw opened #2582 "[Suggestion] DevOps Roadmap"
syncrontation with github gist to keep tracking on every device.

[2022-10-18 05:03] this-mkhy commented on #2457
I can do it

[2022-10-18 09:28] macsakini commented on #2564
Hi, I would also like to be included in this.

[2022-10-18 10:42] SuchhandaDas commented on #1837
@kamranahmedse
I would like to contribute to this issue, can you assign it to me?

[2022-10-18 10:51] SuchhandaDas commented on #1839
@kamranahmedse
I would like to contribute to this issue, can you assign it to me?

[2022-10-18 12:28] Diegosny opened #2585 "Hey guys, will there be a roadmap on C/C++ in the future?"

[2022-10-18 12:51] Vaibhvnimkar opened #2587 "[Suggestion] Backend Developer"
Its looks little cluttered can u rearrange the path and make it more readable

[2022-10-18 12:54] Dev-Arhaan opened #2588 "Typo[Suggestion] Software Design and Architecture"
Typo in Design principles topic: **_Program against abstarction_** : Program against abstraction

[2022-10-18 13:17] #2588 closed

[2022-10-18 13:17] Dev-Arhaan commented on #2588
Typo corrected!

[2022-10-18 13:29] alexandersuerof commented on #2556
I was checking that problem, but it's working just fine when I zoom in with both fingers in the mobile browser(Google Chrome)

[2022-10-18 13:47] varunjvk commented on #2556
yeah, it was zooming in naturally but when you click on any node and coming back then zooming in is not happening check video i provided here (google chrome)

[2022-10-18 13:54] nikhilkalburgi opened #2590 "Add 9 more common modules to nodejs - PR #2579"
Content Addition to nodejs roadmap
PR with #2579 solves this issue

Please have a look.

[2022-10-18 14:00] MrCode00 opened #2591 "Could you please add game developer roadmap"

[2022-10-18 22:07] oscarlopezp opened #2597 "[Suggestion] Software Architect"
As Security, I would include a skillset for Performance Engineering:

This Skillset could include: SLAs, SLOs, SLIs + KPIs + Non-Functional requirements + CPT + automation + Performance Testing strategies or Types for the Backend and the Frontend among others

[2022-10-19 05:27] Vanshika-Govindani commented on #2585
Please assign this issue to me, I have a roadmap to c/c++ which might help

[2022-10-19 05:51] dhruvasagar commented on #1836
Created PR https://github.com/kamranahmedse/developer-roadmap/pull/2607 for details on go-zero

[2022-10-19 06:46] Vanshika-Govindani commented on #2585
Please assign me this issue I can add the roadmap for c++ that can help

[2022-10-19 10:27] Avishri99 commented on #2591
please give this issue to me

[2022-10-19 13:52] shubhig226 commented on #1837
@kamranahmedse
I would like to contribute to this issue, can you assign it to me?

[2022-10-19 13:52] shubhig226 commented on #1838
@kamranahmedse
I would like to contribute to this issue, can you assign it to me?

[2022-10-19 13:52] shubhig226 commented on #1836
@kamranahmedse
I would like to contribute to this issue, can you assign it to me?

[2022-10-19 17:23] TanyaaSrivastava commented on #2457
I am interested in this, could I be assigned this task? I want to participate in hactoberfest.

[2022-10-19 17:24] TanyaaSrivastava commented on #2585
I am interested in this, could I be assigned this task? I want to participate in hactoberfest.

[2022-10-19 21:07] poliarush opened #2628 "[Suggestion] QA Engineer"
- add https://testomat.io as test management system.
- add https://codecept.io/ to test automation tools

[2022-10-19 22:21] kamranahmedse commented on #2214
Thanks @RamitPahwa

@omkute please look at the contribution docs. There is no issue assignment. In this particular issue, if you would like to contribute please suggest changes to the roadmap submitted by @RamitPahwa

[2022-10-19 22:23] RamitPahwa commented on #2214
Hey @kamranahmedse should I start making this page?, maybe @omkute can help me out in completing the roadmap in parallel

[2022-10-19 22:27] kamranahmedse commented on #2214
@RamitPahwa the list is converted to a visual roadmap in Balsamiq and is done in a particular style matching the other roadmaps, so we keep the translation from list to visual roadmap as an internal task. But thank you for offering to help.

Feel free to polish the list further by adding or improving the listed topics till we pick this up next week.

[2022-10-20 04:09] yashdev9274 commented on #1885
Hey @kamranahmedse I created pr #2631
Please check it out and me know If any changes I  should make

[2022-10-20 19:04] Ironspider42 commented on #1837
Hey @kamranahmedse, I would like to contribute to this issue, can you assign it to me ?

[2022-10-20 21:01] Foxtrot40 opened #2644 "[Suggestion] Frontend Developer"
On "Testing your apps" is said to study the technologies on the left, but it should be right.

<img width="1026" alt="Screen Shot 2022-10-20 at 18 00 16" src="https://user-images.githubusercontent.com/24324267/197057143-b192362a-9ba4-4608-9121-300884462ed9.png">

[2022-10-21 08:19] codurr1 opened #2655 "Competitive Programming Roadmap"

[2022-10-21 11:47] RiyaArora02 commented on #2655
Hii sir can you assign this issue to me I would like to contribute in it

[2022-10-21 12:44] PranjalSK03 opened #2661 "add new GraphQL in the backend roadmap"
please let me know if i can do so.

[2022-10-21 12:45] PranjalSK03 commented on #2661
tell me if you want to what i need to add

[2022-10-21 12:45] PranjalSK03 commented on #2661
tell me if you want to know what i need to add

[2022-10-21 13:28] kamranahmedse commented on #2644
Fixed, thank you!

[2022-10-21 13:28] #2644 closed

[2022-10-21 13:30] ahmadajaz opened #2664 "Add roadnap for C#"

[2022-10-21 14:27] nuzulazmi opened #2665 "[Suggestion] Frontend Developer"
Hello @kamranahmedse , Are you going to add SASS/CSS Pre-processor to the Frontend Developer roadmap?.
Might it help other developers. Thanks

[2022-10-21 14:41] YandaSN opened #2666 "Data structure roadmap"
[data-structure-roadmap.md](https://github.com/kamranahmedse/developer-roadmap/files/9840008/data-structure-roadmap.md)

Hi there,
This is a re-submission of data structures roadmap. I hope this is correct. The textual roadmap is attached above.

[2022-10-21 17:23] haszankauna commented on #2665
hello @nuzulazmi  can I work on this?

[2022-10-21 19:16] mesrenyamedogbe opened #2681 "open-source-roadmap"
## Open Source roadmap

- Introduction to Open Source
  - What is Open Source?
  - The need to contribute to open source
  - Benefits of Open Source Projects
  - Organizations Involved with Open Source software and projects

- Getting Started with Contributing
   - Ways to contribute
      - Code
      - Design
      - Project Management
      - Language Translation
      - Technical Writing/Docum

[2022-10-21 20:14] nikitakoselev opened #2683 "let's add a DevRel roadmap"
There is issue #2167, which has been completed with no comments.

As an OpenSource DevRel, I help people to follow my steps, but I only have 24h per day, and a lot of people want to become an OpenSource DevRel to create and empower communities around OpenSource projects.

A DevRel OpenSource roadmap would help tens of thousands of people around the world to create communities.
I know it's not an e

[2022-10-21 21:32] kamranahmedse commented on #2683
@nikitakoselev thank you for offering to help. Would you be able to provide the [textual version of the roadmap](https://gist.github.com/kamranahmedse/98758d2c73799b3a6ce17385e4c548a5). We can then discuss and get it converted to the visual format.

PS, @kuberaspeaking shared her list in https://github.com/kamranahmedse/developer-roadmap/issues/2077 so feel free to improve on that.

[2022-10-21 21:34] nikitakoselev commented on #2681
That's an amazing one! The community really needs it! Thank you so much.

[2022-10-21 21:36] nikitakoselev commented on #2683
Let me start working on that. Many thanks for sharing @kuberaspeaking's list #2077

[2022-10-21 23:35] mesrenyamedogbe commented on #2681
Thank you Niki!
Hopefully, it gets accepted.

[2022-10-22 01:42] SE-LAPS commented on #2243
I am interested in contributing in this project can you please assign me and also contribute in Hacktoberfest.

[2022-10-22 01:43] SE-LAPS commented on #2243
I am interested in contributing in this project can you please assign me and also contribute in Hacktoberfest-2022.

[2022-10-22 01:44] SE-LAPS commented on #2655
I am interested in contributing in this project can you please assign me and also contribute in Hacktoberfest-2022.

[2022-10-22 01:46] SE-LAPS commented on #2585
I am interested in contributing in this project can you please assign me and also contribute in Hacktoberfest-2022.

[2022-10-22 01:47] SE-LAPS commented on #2457
I am interested in contributing in this project can you please assign me and also contribute in Hacktoberfest-2022.

[2022-10-22 01:56] SE-LAPS commented on #2587
I am interested in contributing in this project can you please assign me and also contribute in Hacktoberfest-2022.

[2022-10-22 02:01] SE-LAPS commented on #2582
I am interested in contributing in this project can you please assign me and also contribute in Hacktoberfest-2022.

[2022-10-22 02:28] #2665 closed

[2022-10-22 02:31] kamranahmedse commented on #2665
It's already there

![image](https://user-images.githubusercontent.com/4921183/197315152-db3ae84c-e869-4ce3-b2e1-2a479fcff863.jpeg)

[2022-10-22 04:27] Benjamindutta commented on #2666
You could have added more details to the roadmap.

[2022-10-22 07:05] Ironspider42 commented on #1839
Hey @kamranahmedse, I would like to contribute to this issue, can you assign it to me ?

[2022-10-22 07:39] nikhilkalburgi opened #2693 "Wrong numbering of folders in content directory"
The number **107** as repeated for both **nodejs and android** folder

I can try to solve this problem

[2022-10-22 08:58] Prachi257 commented on #2693
Can I add or rectify something?

[2022-10-22 11:17] kamranahmedse commented on #2693
Thank you for reporting but that's a non-issue.

[2022-10-22 11:17] #2693 closed

[2022-10-22 12:32] DeleMike commented on #2564
Hi, I would love to work on this too but how do we start?

[2022-10-22 12:39] riddhitech commented on #2664
Please assign me this issue

[2022-10-22 14:54] Rosh-h commented on #2666
Hello @Benjamindutta  I can create road map for dsa can You assign this to me.

[2022-10-22 15:10] Dibyendu-kyo commented on #2664
i can add a roadmap for C.please assign me this issue

[2022-10-22 16:09] akshat5302 commented on #2077
Hello, @kuberaspeaking; I would love to work on this roadmap. Let's do it if you allow me to help and contribute to this fantastic roadmap for devrel, will help a lot of people who are currently looking for a switch or want to get started in this new field 🤟✌

[2022-10-22 16:23] kuberaspeaking commented on #2077
@akshat5302 would love some help. Maybe you can start with expanding the existing list and then we can divide up the sections. If you have any questions, feel free to ask, we can work together to complete this.

[2022-10-22 17:46] akshat5302 commented on #2077
Everything looks great on the list for a beginner to kick start. One thing to add from my side as of now is that we can add social presence also in the skills section(that is too optional)

[2022-10-22 18:23] Jaya-sys commented on #1839
can i contribute to this roamap ?

[2022-10-22 18:26] Jaya-sys commented on #1684
What do i have to make to contribute in this project ?

[2022-10-22 19:00] ys1113457623 opened #2702 "[Suggestion] Backend Developer - Please Add Componets Of Mitigation Strategies"

[2022-10-23 11:51] Mitulsharma123 opened #2710 "gobyexample website url down in Go Developer roadmap"
- raised PR https://github.com/kamranahmedse/developer-roadmap/pull/2708

[2022-10-23 12:45] DeltaFoxtMike opened #2711 "Impossibility to Translate"
Hi, I recently checked if I could translate something in this repo, I found this link https://github.com/kamranahmedse/developer-roadmap/tree/0471d44c8fae58b6a36a7c57bba12253916d0249/translations which shows the languages ​​already translated, also at the bottom of the page there is a link that allows you to send your own translation, but it leads to a deleted page, making the translation impossib

[2022-10-24 02:29] Abhishekjoshi7 commented on #2666
Please assign this to me.

[2022-10-24 02:29] Abhishekjoshi7 commented on #2655
Please assign me this issue.

[2022-10-24 02:29] Abhishekjoshi7 commented on #2585
Please assign me this issue.

[2022-10-24 14:32] #1553 closed

[2022-10-25 07:18] pjoshi999 commented on #2666
Hello, I can give the best Roadmap for DSA. Can you please assign this task to me?

[2022-10-25 08:03] developerSuranjan commented on #2666
@YandaSN I have been studying DSA for more than a year and solved more than 1.2k problems of various levels. I learnt and mastered it myself. Kindly assign this to me if you want a rock-solid complete roadmap for DSA

[2022-10-25 10:03] pjoshi999 commented on #2457
Hello,
This is Priyanshu. I have been doing Frontend since very long. I can help you with the best beginner-friendly Roadmap for Frontent Development. Kindly assign the task to me so that every learner right there can benefit from this Roadmap.

[2022-10-25 10:33] akshat5302 commented on #2077
Hey @kuberaspeaking what's next

[2022-10-25 10:34] akshat5302 commented on #2077
Do assign me one of the topics to prepare for that

[2022-10-25 10:40] kuberaspeaking commented on #2077
Hey @akshat5302 sorry for the delays. You can start with adding resources for the skills under - creating demos and working with APIs, It could be tools or frameworks, YT videos or articles that teach you to make basic demos using something like bootstrap, netlify, heroku or anything else that you might be used to.
I will be working on introduction

[2022-10-25 17:33] veerpatel-dev commented on #2664
Bump.

[2022-10-25 17:43] aiiimzzz634 commented on #2666
Hello, Ayman here  I have been practicing DSA from past 6 months I can provide   beginner-friendly Roadmap for Data Structure and Algorithm. Kindly assign the task to me.

[2022-10-25 17:46] aiiimzzz634 commented on #2585
Please assign me this issue.

[2022-10-25 22:40] AlpaarX opened #2755 "[Suggestion] Frontend Developer"
Please add `https://svelte.dev/ > https://kit.svelte.dev/ `to SSR section

[2022-10-26 03:38] LatreviousYI opened #2756 "Test Development Engineer roadmap"
Do you guys have any Test Development Engineer roadmap information?

[2022-10-26 07:43] harshsingh-io commented on #2756
@LatreviousYI yeah one of my friend is in this field.
assign me for this.

[2022-10-26 09:24] LatreviousYI commented on #2756
@harshsingh-io  Thanks a lot, I appreciate it.

[2022-10-26 17:21] Aryasharma001 opened #2764 "Adding links of practice questions in language roadmaps to ease learning process."
Learning can be much faster when understood by solving relevant problems . In the language roadmaps in free content we can add links to relevant questions to make the roadmaps more wholesome and useful.

[2022-10-26 22:43] Mizerski commented on #2564
Hello, I want to add a roadmap for the Flutter developer, I have a personal one that I made while studying

![Captura de tela de 2022-10-26 18-20-21](https://user-images.githubusercontent.com/58005471/198151965-03cf5155-5adc-4ffb-a1ae-45116c672899.png)

[2022-10-27 07:44] akshat5302 commented on #2077
@kuberaspeaking, can we have a group regarding our conversation cause every time I have to ask my questions here? It would be easy if we have a group on any social media such as Twitter or any other platform

[2022-10-27 07:45] akshat5302 commented on #2077
My question is should I have to make a blog or video regarding APIs, or can I share resources. I'm comfortable with both

[2022-10-27 09:17] jessicateocw opened #2774 "[Suggestion] Frontend Developer"
Any chances to add a dark mode to change the theme colors, everything is kinda bright

[2022-10-27 15:20] LuizFernandoDeveloper opened #2779 "Add Roadman embedded systems software"
Please add this roadmap

[2022-10-27 19:03] enobrega opened #2782 "[Suggestion] New Roadmap"
Hi!
Congrats for Roadmap.sh, it's amazing!

I would like to suggest you to create a Roadmap for applications developments.
Like a checklist: front-end, back end, workers and so on!

Front:end: design, components, routes, validations ...
Back-end: ...

Bye

[2022-10-28 05:24] manishkeshwani commented on #2666
Please assign this task to me. I'll provide the best detailed roadmap for DS

[2022-10-28 05:25] manishkeshwani commented on #2585
please assign this task to me I'll provide the detailed roadmap for C/C++ .

[2022-10-28 07:24] shivsaranyada commented on #2681
===============================
                                                                                 _**Open Source _Roadmap_**_
==================================================================================

Introduction to Open Source
==================================================================================
1. What is Open Source?

2. The need to contribute to open sourc

[2022-10-28 07:38] shivsaranyada opened #2790 "==============================="
===============================
                                             _**Open Source _Roadmap_**_
==================================================================================

Introduction to Open Source
==========================================================
1. What is Open Source?

2. The need to contribute to open source

3. Benefits of Open Source Projects

4. Organizations Inv

[2022-10-28 07:57] shivsaranyada commented on #2666
Hello sir,
 I am shivsaran yadav . please assign this task to me . I'll provide the best detailed description of roadmap for DS.

[2022-10-28 08:22] BellaTrixHub opened #2792 "[Suggestion] React Developer"
please create a roadmap for SharePoint developer as in how we can use React framework in SharePoint online and how to create develop client side web part using react, type script and Microsoft fabric UI components

[2022-10-28 12:49] kde-neon opened #2794 "Download pdf all file without submiting email"
[https://roadmap.sh/psfs/fvue.pdf](https://roadmap.sh/psfs/fvue.pdf)
**This is an example**
Acces all files and download without submitting email

[2022-10-28 12:51] kde-neon opened #2795 "Free downlado [action need]"
https://roadmap.sh/psfs/vue.pdf

This is an example
Access all files and downloads without submitting an email

[2022-10-28 13:05] dmytbolko commented on #2564
@kamranahmedse here is the textual version of the flutter roadmap that we have at our company. Feel free to update it as you may see fit.

@AyushRaghuvanshi @macsakini @DeleMike feel free to suggest changes.

- Learn Dart
  - Variables
  - Built-in Types
  - Functions
  - Operators
  - Control Flow Statements
  - Classes
- Setup Environment
  - IDEs
    - VS Code
    - Android Studio
    - Intelli

[2022-10-28 13:53] bytesofbec commented on #1838
Hi can I work on this?

[2022-10-28 13:56] bytesofbec commented on #1838
@kamranahmedse Hi can I work on this?

[2022-10-28 15:37] kamranahmedse commented on #2564
[Flutter roadmap is live](https://roadmap.sh/flutter). Thank you guys!

[2022-10-28 15:37] #2564 closed

[2022-10-28 15:37] kamranahmedse commented on #1279
[Flutter roadmap is live](https://roadmap.sh/flutter). Thank you guys!

[2022-10-28 15:37] #1279 closed

[2022-10-28 15:39] kamranahmedse commented on #773
We now have the [android](https://roadmap.sh/android) and [flutter](https://roadmap.sh/flutter) roadmaps live on the website. iOS and React Native are in progress and will be added soon. Thank you!

[2022-10-28 15:39] #773 closed

[2022-10-28 15:59] skodamarthi commented on #2755
Working on this.

[2022-10-28 16:25] bytesofbec commented on #1838
#2798

[2022-10-28 16:26] bytesofbec commented on #1838
Javascript resource update. #2798

[2022-10-28 22:17] DeleMike commented on #2564
I added noSQL and Riverpod(which may potentially replace Provider!)

[2022-10-29 00:48] vandit1920 commented on #2774
Can I give it a shot?

[2022-10-29 05:08] ag143 opened #2809 "[Suggestion] DevOps Roadmap : good to have scm and build tools in the whole picture"
[Suggestion] DevOps Roadmap : good to have scm and build tools in the whole picture

[2022-10-29 09:34] Khushi-Shukla opened #2811 "Want to add content in redux of react roadmap"

[2022-10-29 10:13] Mitulsharma123 commented on #2710
Closing this issue, as gobyexample website is up and running fine.

[2022-10-29 10:13] #2710 closed

[2022-10-29 13:27] jebitok-dev commented on #2511
I would like to work on the Blockchain Developer Roadmap

[2022-10-29 13:27] jebitok-dev commented on #2511
I would like to work on the Blockchain Developer Roadmap

[2022-10-29 14:15] yashdev9274 commented on #1885
I have created PR #2813 that updates the content about Firewall from DevOps series.
Please take a look and let me know if it requires any changes.

[2022-10-29 14:37] ahmadajaz commented on #2664
Assign

[2022-10-29 16:20] Niketdeshmukh commented on #2664
i can do the task can you please assign me this issue ?

[2022-10-29 18:38] utkarsh1311 opened #2815 "[FEATURE] Add resources to the PDFs for each roadmap"
### Description
Currently the downloadable PDFs contain only the roadmap itself. But now the roadmaps also contain resources listed for each of the topic. These resources should also be added to the PDFs in form of links.

[2022-10-30 07:17] bennett1412 opened #2821 "[Suggestion] Progress indicator"
Having some kind of a progress indicator would be nice, could be a pie chart or even a linear bar, that indicates how many nodes have been marked